[2015-04-15 16:38] eyakubovich opened #1 "Draft of the spec"
The spec is currently being drafted here. It'll be moved into an .md file in this repository shorly.

https://docs.google.com/document/d/1pGJiQhA_5lZsCeswsKDm5v_brkeqaT1Bmn4zANCynGg/edit?usp=sharing

[2015-05-02 00:56] jonboulle commented on #1
deprecated by the diff in #2

[2015-05-02 00:56] #1 closed

[2015-05-02 01:40] jonboulle opened #5 "plugins: audit use of netns path, mandate containerid?"
As discovered and discussed in https://github.com/coreos/rkt/issues/851 - there are problems with the ways that some of the plugins utilise the `CNI_NETNS` parameter:
- the veth plugin [uses it as a source of entropy](https://github.com/appc/cni/blob/88377fa3466eea30817b038c69ac06686e7655b7/plugins/main/veth/veth.go#L50) for generating interface names for the host. Unfortunately, rkt supplies a (c

[2015-05-03 06:13] steveeJ opened #6 "plugins: add ipvlan main plugin"
Support for *ipvlan* devices would be nice to have. This should not be much different from *macvlan*.

[2015-05-03 06:16] steveeJ opened #7 "plugins: test if ipvlan and macvlan can work at the same time"
I could not simultaneously use both on the same ethernet NIC when testing manually using the `ip` util. This needs to be investigated further using the plugins, since applications like rkt will eventually want to use both at the same time.

[2015-05-05 20:35] #6 closed

[2015-05-06 03:17] eyakubovich opened #10 "Change the plugin model to be job agnostic"
I am creating this issue to summarize @thockin's comments on https://github.com/appc/cni/pull/2. In particular, Tim's proposed to make the spec less opinionated. Current spec defines a network as a group of containers that are able to talk to each other. The user defines which networks a given container needs to join. The container runtime executes a plugin for each network and the job of said plu

[2015-05-07 22:21] steveeJ commented on #10
The proposal seems very vague and personally for me not enough to form an opinion about it. What would help is a comparison of the current situation and the changes the proposal would make to it.

[2015-05-08 22:02] #5 closed

[2015-05-11 20:58] eyakubovich commented on #10
Hangout on Tue May 12th, at 2:00PM Pacific Time. 	https://plus.google.com/hangouts/_/coreos.com/cni-model

[2015-05-11 23:02] jainvipin commented on #10
@eyakubovich - I will be there in the hangout. While it might seem vague to some, I think if you are allowing a plugin to do whatever it likes for network, I like @thokin's idea, leave it to the plugin with the right hooks (call them before container is launched, etc.) and then there full liberty/flexibility given to the plugin - as the network intent is driven from it. This is what was proposed a

[2015-05-13 21:39] eyakubovich commented on #10
Thank @jonboulle for taking minutes: https://docs.google.com/document/d/1RRgRhSM2_r68XZuJfOhU3sUR99lnOzRWyCAE8-HTVBA

[2015-05-13 22:21] eyakubovich commented on #10
I think the basic takeaways from this meeting were:
- There's much conceptual overlap with CNM/libnetwork -- we should explore collaboration
- Having a plugin do a particular job of plugging container into a network is OK
- Prescribing interface name to the plugin is excessive
- There's a desire to introduce Network Create event. However, it is still unclear if this event needs to be triggered on

[2015-05-20 22:40] Symmetric commented on #10
From the minutes, it looks like @philips was concerned that CNM drivers need to be in-tree. I'd like to chime in with what we've learned of the current plans there, since we've been doing a lot of digging into the CNM and it sounds like this concern might be misplaced (or the minutes might not have captured the full discussion, apologies if I've missed something).

The network driver is a containe

[2015-05-21 03:55] eyakubovich commented on #7
I would not be surprised if two different types of devices cannot enslave the same interface. Obviously it's not ideal but it'll just have to be a restriction.

[2015-05-21 17:05] jonboulle commented on #7
What do we need here then? Will the ipvlan/macvlan plugins just error out if this occurs?

[2015-05-21 17:40] eyakubovich opened #14 "Investigate ipMasq support from macvlan and ipvlan"
I don't think it's really possible to get IP masquerade to work with macvlan as it operates at L2 and probably does not call into netfilter code. In that case, support for it should be removed. ipvlan maybe can work (maybe in one of the modes) but needs to be investigated.

[2015-05-21 17:48] eyakubovich commented on #7
Yes, they should just error out during enslaving process but this needs to be double checked and documented.

[2015-05-21 18:42] eyakubovich commented on #10
@Symmetric Thank you for the clarification about in-tree drivers. I didn't realize that there's an HTTP interface in front of libnetwork. I assumed that libnetwork was being linked into docker daemon. Part of the confusion stems from https://github.com/docker/libnetwork/blob/master/drivers/remote/driver.go which made it look that out of tree drivers will be handled by proxying through a "remote" d

[2015-05-21 20:39] eyakubovich opened #15 "Set up testing"
Add `test` script and integrate with TravisCI.

[2015-05-22 01:08] steveeJ commented on #7
I checked the behaviour in different contexts when trying to utilize macvlan and ipvlan at the same time

##### iproute2
Out of interest I also checked macvtap, which will be interesting for the qemu networking. It's also blocked by ipvlan.

[code]

##### priv-net-run.sh script
[code]

##### rkt
[code]

As @eyakubovich expected the plugins return an error to the application which obviously needs t

[2015-05-22 01:11] steveeJ opened #16 "documentation: plugin implementation descriptions"
I think that we should have a documentation for the implemented plugins in this repository. I'd imagine to write about (in)compatibilities, specific example configurations and also use-case suggestions.

[2015-05-27 18:40] eyakubovich opened #17 "Add support for ClientID to DHCP"
With ipvlan, all interfaces will share the MAC address so the DHCP server will return the same lease. Need to add support for ClientID (DHCP option 61). The value can be ContainerID by default but over-rideable via `CNI_ARGS`.

[2015-05-29 05:36] thockin commented on #10
I think Docker's dependence on daemons for plugins is unfortunate, but
given what we know about network plugins it seems plausible to have a
single piece of code work in both daemon-plugin mode and exec-plugin mode

On Thu, May 21, 2015 at 11:42 AM, Eugene Yakubovich <
notifications@github.com> wrote:

[2015-05-29 17:42] Symmetric commented on #10
@eyakubovich FYI some more docs for the [Remote Driver](https://github.com/squaremo/libnetwork/blob/remote_driver_docs/docs/remote.md) just landed. We're coding against this API now (as well as working on a rkt integration) - CNM is definitely a moving target :)

@thockin -- I was thinking the same thing. It would be possible to refactor the CNM interface such that all of the API calls are impleme

[2015-06-01 22:35] eyakubovich opened #18 "bridge plugins needs to teardown ipmasq"
On Del command, bridge plugin does not remove the installed IP masquerade rules.

[2015-06-02 11:32] victorwangyang commented on #16
+1

[2015-06-15 19:23] eyakubovich opened #23 "Add socket activation support to dhcp daemon"
Under systemd, socket activation support would be highly valuable to save on resource and eliminate startup races.

[2015-06-18 01:46] eyakubovich opened #26 "host-local should use /run and not /var for persistance"
There's no reason for the IP assignments on the host to survive a reboot.

[2015-06-18 01:56] eyakubovich opened #27 "bridge: does not set the gateway on the route"
First raised in https://github.com/coreos/rkt/issues/862

bridge does correctly sets the IP on on the bridge (if `isGateway` is true) but not on the route.

[2015-07-06 11:37] zenlinTechnofreak opened #28 "meet error in ubuntu system when build cni"
When I run build, it will meet the error as log in the screen catch as below.

![cni build screen cut](https://cloud.githubusercontent.com/assets/9923237/8521433/137cb1a2-2416-11e5-927e-238d3062879a.png)

my environment:
Linux zenlin-pc 3.13.0-53-generic #89-Ubuntu SMP Wed May 20 10:34:39 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Can anyone help me to fix it, or tell me to how to fix it ,I just wan

[2015-07-06 11:58] zenlinTechnofreak commented on #28
@eyakubovich @jonboulle @steveeJ, plz help me, thanks very much

[2015-07-06 15:40] zenlinTechnofreak commented on #28
@eyakubovich @jonboulle @steveeJ,  I was waiting on the line, is it means  the cni only support the coreos or solaris yet, but not others?

[2015-07-06 18:07] jonboulle commented on #28
@zenlinTechnofreak We have a requirement on go 1.4+ and it looks like you're using <=1.3. Can you try with a newer version and we can take it from there?

[2015-07-06 23:09] eyakubovich commented on #28
@zenlinTechnofreak @jonboulle is correct, Unsetenv was added in Go 1.4.

[2015-07-07 00:07] eyakubovich commented on #27
This is actually per current spec:
`gateway` is the default gateway for this subnet, if one exists. It does not instruct the CNI plugin to add any routes with this gateway: routes to add are specified separately via the routes field.

However this will cause a lot confusion and needs to be changed.

[2015-07-07 01:10] zenlinTechnofreak commented on #28
OK, I am trying to update the go version, plz hold on ,  I will get the response to u. thanks for your help.

[2015-07-07 01:39] eyakubovich commented on #26
That is not actually obvious. Since (exited) containers might survive reboots, losing the IP <--> ContainerID mapping will cause the DEL command to fail.

[2015-07-07 02:11] eyakubovich commented on #18
This is the correct behavior as there's one rule per network, not per container. Some kind of ref counting might be nice, though.

[2015-07-07 02:11] #18 closed

[2015-07-07 02:22] zenlinTechnofreak commented on #28
@eyakubovich @jonboulle , I have changed the go to go 1.4 version, but the err is also the same as before.
![cni build](https://cloud.githubusercontent.com/assets/9923237/8537488/1b9a67f4-2492-11e5-980f-c458750d28fb.png)

[2015-07-07 02:52] zenlinTechnofreak commented on #28
when I run the build command with root user, we can see that  many errs,

such as,
root@zenlin-pc:/home/zenlin/workspace/cni# ./build
Building plugins
   flannel
gopath/src/github.com/appc/cni/plugins/meta/flannel/flannel.go:22:2: cannot find package "bufio" in any of:
	/home/zenlin/go/src/pkg/bufio (from $GOROOT)
	/home/zenlin/workspace/cni/gopath/src/bufio (from $GOPATH)
	/home/zenlin/workspace/

[2015-07-07 04:54] zenlinTechnofreak commented on #28
@jonboulle @eyakubovich  I am sorry that I have fixed out the problem, there are some err with my path config with go env, now, correctly runing, also, thx for your help,  the issue first caused by the low version golang, and second issue cased by the worng config for go, I want to add the remind for user in readme doc, do u agree with me?

[2015-07-07 17:20] jonboulle commented on #28
Thanks, glad you got it sorted. Let's follow up in #30

[2015-07-07 17:20] #28 closed

[2015-07-07 18:45] jonboulle commented on #26
So what's the plan?

[2015-07-09 01:48] eyakubovich opened #31 "Add IPv6 support"
The spec does allow for IPv6 but the plugins only support IPv4 (with the exception of host-local).

Tracking:
- [ ] bridge
- [ ] ptp
- [ ] macvlan
- [ ] ipvlan
- [ ] host-local #131

[2015-07-14 23:40] eyakubovich commented on #26
Keeping as is.

[2015-07-14 23:40] #26 closed

[2015-07-16 14:36] steveeJ commented on #7
It would be good to give according error messages in this case. What's the best approach here @eyakubovich? Is it worth evaluating the state on the filesystem?

[2015-07-22 16:02] #16 closed

[2015-07-31 21:45] steveeJ commented on #27
I suggest we add a field `isDefaultGateway` that causes an additional route with `0.0.0.0/0` for IPv4 for now. The default for this field shall be true since that's what most people expect as you already pointed out.

[2015-08-01 15:03] takaomag opened #36 "Add Open vSwitch support"
I think it would be nice if appc supports OVS. Is there any plan to support OVS?

[2015-08-05 17:29] eyakubovich opened #38 "Investigate using p-t-p device for "ptp" plugin"
The old p-t-p dialup links were set up so that all interfaces had the same IP on the server. I think we can use the same idea here. This should allow us to use only one IP per container in the case of "ptp" plugin.

[2015-08-05 17:34] steveeJ opened #39 "plugins: define runtime configurable attributes"
Which plugins should support configurable attributes?
What should these be?

---
- main
  - bridge
    - [ ] MAC
  - macvlan
    - [ ] MAC
- ipam
  - host-local(-ptp)
    - [x] IP

[2015-08-05 18:24] eyakubovich opened #40 "bridge plugin should allow bridging a host iface"
As a convenience feature, bridge plugin should have an ability to connect host interface to the bridge (when the bridge is created).

(moved from https://github.com/coreos/rkt/issues/477)

[2015-08-05 18:28] eyakubovich commented on #40
@steveeJ I wasn't thinking of transferring any attributes. This was for the cases where somebody wants to use a dedicated host interface for containers. Then this interface would not have an IP, it would just be bridged. It can be done now with the user first creating a bridge and then attaching the host interface to it. But since the "bridge" plugin can create the bridge, it might as well also ha

[2015-08-13 21:36] eyakubovich commented on #36
Not at the moment but I agree that it would be desirable.

[2015-08-22 00:38] eyakubovich opened #44 "Version JSON docs"
Config and result JSONs should carry version info. Will need to spell out a strategy on how to also version plugin specific portions of the configs.

[2015-08-27 00:40] eyakubovich opened #45 "ipvlan plugin did not work"
ipvlan did not work for @thockin. Ask him for details.

[2015-08-27 18:04] eyakubovich opened #46 "Evaluate port mapping"
Some containers need to have port mapping between them and the host. The current stance of CNI is that it is outside the scope (and rkt handles port mapping itself). The reasoning behind this is that port mapping is not associated with any particular network but rather is "global" to the container. At the same time port mapping is implemented as a DNAT rule that maps to a _particular_ IP in the co

[2015-08-27 18:13] eyakubovich opened #47 "CNI should have talk about limiting cross-talk"
CNI should have something to say about how to limit cross-talk between networks.
This is tricky to specify as a particular plugin might not know what kind of isolation even exists in the infrastructure. For example, if "bridge" is configured in non-gateway mode (bridged to host's interface), it might not know if it is isolated at L2 from other networks.

In a lot of cases you can trivially isolate

[2015-08-28 15:42] rushmorem opened #48 "When does CNI_COMMAND equal DEL?"
I have a bash prototype plugin with two functions `activate_network` (for when the container starts) and `deactivate_network` for when then container exits. My environment is as follows:-
[code]
and I have the following block at the end of the plugin:-
[code]

When the container starts, `$CNI_COMMAND` is equal to `ADD` so networking is setup fine. However on exit, `deactivate_network` is never run

[2015-08-28 22:01] jonboulle commented on #48
Have you tried running `rkt gc`? I believe it will only be called at that stage?

[2015-08-29 13:44] rushmorem commented on #48
@jonboulle Yes I did (`rkt gc --grace-period=0s`). Unfortunately `deactivate_network` doesn't seem to be getting called then either.

[2015-08-31 04:02] jonboulle commented on #48
/cc @eyakubovich

[2015-09-03 21:33] steveeJ commented on #48
@rushmorem: I just used one of your pasted bash scripts as a plugin and can confirm that `DEL` works for me when I do a `rkt run` followed by a `rkt gc --grace-period=0s`.
I added this to the script
[code]

And can see the following lines in the file:
[code]

Please investigate your setup again since it should really work for you too. If you still encounter this problem I would like you to file an

[2015-09-04 13:18] rushmorem commented on #48
Thanks @steveeJ. I must be doing something wrong. Will try again later.

[2015-09-04 18:17] steveeJ commented on #45
@thockin please provide details that allow me to reproduce the problem and track it down.

[2015-09-07 14:01] NeilW commented on #31
I'm particularly interested in adding IPv6 support to macvlan since plugging the containers straight into the upstream ethernet network allows stateless address auto configuration to work - where a Host virtual machine is allocated a /64 on its network.

[2015-09-07 14:59] NeilW opened #52 "Error message for missing IPAM plugins confusing"
The error message from the IPAM plugin search is confusing particularly if the IPAM entry is missing from the config but required.

[2015-09-08 20:45] steveeJ opened #56 "docs: create page with an overview of supported CNI_ARGS"

[2015-09-08 21:21] steveeJ commented on #15
Fixed by #55.

[2015-09-08 21:21] #15 closed

[2015-09-08 21:26] #52 closed

[2015-09-09 11:48] steveeJ commented on #14
This can't work for any of macvlan and ipvlan, because they're traffic is passed through the host interface without being able to talk to it. The only way of having ipMasq for these plugins is to have an additional network in the netns.

[2015-09-10 20:08] #14 closed

[2015-09-11 02:32] nstott commented on #36
the example configs at https://github.com/appc/cni/blob/master/SPEC.md#example-configurations seem to reference ovs, is this just theoretical?

[2015-09-11 17:17] eyakubovich commented on #36
Just theoretical for now.

[2015-09-18 21:55] steveeJ opened #61 "broken functionality with newer revisions of github.com/vishvananda/netlink"
After bumping the netlink library, the following configuration doesn't work as expected:

[code]

The host can't be reached from within the new network namespace anymore. Diagnostics:
[code]

[2015-09-18 22:31] steveeJ commented on #61
Looks like the corresponding interface on the host stays down.

[code]
Manually setting it *up* solves the issue at runtime.

Usually https://github.com/appc/cni/blob/d4d3f914e74fee50fe6dbb947e0239e84a8e69f0/pkg/ip/link.go#L100 should take care of this for us.

[2015-09-19 07:20] steveeJ commented on #48
@rushmorem Can we close this or do you have any other questions about the matter?

[2015-09-19 10:01] rushmorem commented on #48
@steveeJ sorry I haven't had time to test this yet but I suppose we can close it.

[2015-09-19 10:01] #48 closed

[2015-09-23 09:31] steveeJ commented on #61
The problem is reproducible using just the `ip` utility and I've created a gist to demonstrate it: https://gist.github.com/steveeJ/9b58ac6cc6f1a7aedf20#file-demo-sh

The apparent fix is to [set the interface UP after it has been moved to the host netns](https://gist.github.com/steveeJ/9b58ac6cc6f1a7aedf20#file-demo-sh-L9)

I'm not sure how CNI ever managed to get the veth device UP in the host net

[2015-09-24 14:04] steveeJ opened #64 "plugin/bridge: host interface has no IP assigned"
#### Config

[code]

#### Situation
* veth host end is DOWN
* cni0 bridge on host is DOWN (not a problem)

[code]

[2015-09-24 17:02] steveeJ commented on #38
@eyakubovich This is somewhat deprecated by #63, or do you see any follow-up work left?

[2015-09-24 19:53] #61 closed

[2015-09-24 19:54] steveeJ commented on #64
FIxed by #65

[2015-09-24 19:54] #64 closed

[2015-09-24 22:40] steveeJ opened #66 "missing functional tests in CNI"
We should add functional for all combinations of plugins and their configuration.
rkt has partial [functional tests for networking](https://github.com/coreos/rkt/issues/1010), some of which probably fit better in here.

This issue is for overview and tracking purposes.

[2015-09-24 22:56] philips opened #67 "passing dns resolvers out of a plugin"
We need to define the where in the returned JSON metadata a plugin can tell the caller what the DNS configuration should be. This will essentially be a priority ordered list of IP addresses:

[code]

[2015-09-28 21:42] eyakubovich commented on #38
Implemented (to the best it's possible) by #63

[2015-09-28 21:42] #38 closed

[2015-10-07 15:22] jellonek opened #72 "Missing FLANNEL_NETWORK in flannel documentation."
In https://github.com/appc/cni/blob/master/Documentation/flannel.md example `subnet.env` does not have `FLANNEL_NETWORK`  variable, without which https://github.com/appc/cni/blob/master/plugins/meta/flannel/flannel.go#L205 will panic.

Btw. there is no error checking if required variables are in `subnet.env` file.
If this variables could be missing, then in https://github.com/appc/cni/blob/master/

[2015-10-07 17:35] jellonek commented on #72
If they can not be empty - IMO they should be verified and cleanly handled, instead of panic.

[2015-10-08 01:03] #72 closed

[2015-10-15 18:31] L-MA opened #74 "Need absolute netns path to write a generic CNI plugin"
Implementation starts to get messy when different orchestrators use different paths to the CNI_NETNS. To configure the netns, we need the absolute path, so for rkt, we do something like this:

`netns_path = '%s/%s/%s' % (RKT_NETNS_ROOT, env['CNI_CONTAINERID'], env['CNI_NETNS'])`

This will be different for other orchestrators using CNI, so it's currently not clear how to write a generic CNI plugin

[2015-10-19 18:08] jonboulle commented on #74
I don't really follow; why does the plugin need anything other than the absolute path?

[2015-10-19 18:10] jonboulle commented on #74
I mean, in rkt we DO pass an absolute`CNI_NETNS` as far as I can tell - where are you seeing the logic you referenced?

[2015-10-20 21:55] L-MA commented on #74
I have not dug into the rkt code myself, but the testing I've done with rkt v0.9.0 shows that rkt still passes in the relative `CNI_NETNS` path. I wrote up a simple plugin to show this:
[code]

[2015-10-30 18:55] eyakubovich commented on #74
We can require absolute path but the plugin can also just `$(PWD)/$CNI_NETNS` to get the full path.

[2015-10-30 18:57] eyakubovich commented on #10
I think at this point the basic CNI model is not going to change.

[2015-10-30 18:57] #10 closed

[2015-10-30 19:46] eyakubovich opened #75 "spec: add ability for ADD to return arbitrary k/v data"
Current design requires the same set of args/data to be passed to both the ADD and DEL commands. This is slightly tricky b/c the net conf (JSON) is often stored on disk. In that case, the container runtime needs to save a copy of it in case it gets changed by the user prior to DEL command execution.

Since the runtime must be saving data to disk, we can clean the API a bit by having the ADD comman

[2015-10-30 21:18] Symmetric commented on #74
The latter approach seems to preclude using namespaces of the form `/proc/<pid>/ns/net`, which is what we want to do in our Kubernetes plugin. I think that means that passing an absolute path is more flexible.

[2015-10-30 21:58] eyakubovich commented on #74
Why does it preclude the use of relative path? I mean, if the cwd is `/proc/<pid>`, then yes, `ns/net` would be a bad path. If it was `/var/lib/mycontainer`, `../../../proc/<pid>/ns/net` would be fine. Obviously the container runtime has to ensure that the path it provides makes sense when the plugin is executed. But the plugin can just expect any path, relative or absolute, and can make a relativ

[2015-11-05 13:39] squaremo commented on #67
I can think of three appropriate ways of providing nameservers:

 * entirely out-of-band with respect to CNI (e.g., if Kubernetes runs its own DNS server);
 * in the configuration of a network;
 * supplied by an IPAM plugin.

It's a bit of a thorny one though, because it's very sensitive to the configuration of other components (e.g., you want the nameserver to supply addresses you can reach); and

[2015-11-05 14:02] philips commented on #67
@squaremo see #76

[2015-11-11 00:59] #67 closed

[2015-11-11 16:42] steveeJ opened #77 "ptp: host veth interface has no IP address assigned"
Happening on my laptop since a recent system upgrade. It's unclear what's causing this, and no error is produced when e.g. using the scripts to enter a new namespace created by CNI.

The journal shows the following error messages during the CNI plugin setup:

[code]

My current NetworkManager version 1.0.6

[2015-11-12 14:23] steveeJ commented on #77
I haven't bisected nor searched for the exact NetworkManager version that introduced this behavior, but I've reproduced the problem with a manually created veth interface. My current NetworkManager version 1.0.6 will launch a DHCP client on all created interfaces, removing any previously set IP address. This prevents at least the bridge and ptp CNI plugins from working.

Telling NM to ignore a pat

[2015-11-12 16:11] dcbw commented on #77
@steveeJ  (also @lkundrak for more NM perspective)

First, the unmanaged-devices line there doesn't need anything in it that's not a 'veth' device.  The problem here is likely *only* related to veth since they were specially treated in NM for a while, which I'll talk about below.  But bridge/bond/team/etc created outside NM should not be touched by NM at all, and indeed I've never had a problem wi

[2015-11-12 16:20] dcbw commented on #77
I see the error from the first comment now, which may have an effect on whether the udev rules for unmanaging get applied; debug logs from NM would be quite useful here as described above.

[2015-11-13 09:24] steveeJ commented on #77
@dcbw I reverted to the original config and collected the logs for you to analyze: https://gist.github.com/steveeJ/fd6d0c1375457ff09958

Let me know if there's anything else you need.

[2015-11-13 09:27] steveeJ commented on #47
See the references issue, which deals about the opposite problem: CNI should be able to ensure connectivity on user request. In summary this would be to
* Setup ACCEPTing rules for the configured subnets on ADD
* Remove these rules on cleanup

[2015-11-18 23:42] eyakubovich opened #81 "DHCP plugin fails with "network is down" error"
Seems to be happening with both macvlan and ipvlan. Might be that the interface is DOWN when IPAM is invoked.

[2015-11-20 01:23] eyakubovich commented on #17
Ok, this won't work. Adding support for ClientID option is still a good idea but DHCP won't work with ipvlan. DHCPOFFER will come back with some IP but ipvlan machinery won't yet know to which enslaved device to forward it to.

[2015-11-20 04:44] dcbw commented on #17
@eyakubovich can you describe a bit more what your problem is?  I've had ipvlan working with multiple OpenShift containers in the past.  There are at least a couple of caveats:

1) you need to use the 'broadcast' option with the DHCP client
2) the client ID must be different between each ipvlan interface
3) VirtualBox's DHCP server doesn't support client IDs so it'll never work with ipvlan
4) You

[2015-11-20 20:08] eyakubovich commented on #45
Tested on latest Ubuntu (kernel 4.2.0-18) and it worked ok.

[2015-11-20 20:18] #81 closed

[2015-11-20 21:46] dcbw commented on #77
Ok, the "failed to find ... with udev" is a red-herring, since it's found later by udev and NM doesn't do anything with it until the device is found by udev.  Continuing to investigate...

[2015-11-22 22:20] thockin commented on #45
I have not had any time to test this further, I'll get back to it
eventually.

On Fri, Nov 20, 2015 at 12:08 PM, Eugene Yakubovich <
notifications@github.com> wrote:

[2015-11-24 21:21] dcbw commented on #77
@steveeJ can you confirm that you have the /usr/lib/udev/rules.d/85-nm-unmanaged.rules file?  Also, after you modified NetworkManager.conf, did you restart NetworkManager at all?  That file isn't monitored so it requires either a restart or (with NM 1.2+) SIGHUP to notice changes.

[2015-11-24 21:22] dcbw commented on #77
Also, please run:

udevadm info --export-db

and look for the sections for veth pairs.  In those sections, do you see NM_UNMANAGED=1 or is that missing?

[2015-11-25 10:59] steveeJ commented on #77
@dcbw:

The file https://gist.github.com/steveeJ/fd6d0c1375457ff09958#file-85-nm-unmanaged-rules is active on my system, it's not at the exact path you mention because of NixOS works. I've got several NM installations stored on the disk.

https://gist.github.com/steveeJ/fd6d0c1375457ff09958#file-nmcli-dev-log is complete, so `NM_UNMANAGED=1` is missing.

Yes, I restarted NM to make sure the change

[2015-11-30 09:42] f0 commented on #45
tested ipvlan on coreos VERSION=835.7.0, does work

[2015-11-30 18:38] dcbw commented on #77
@steveeJ Ok, I'm a bit confused.  You stated that NM 1.0.6 has the problem where it will manage (and run DHCP) on veth interfaces.  Is that the "original config" you reference?  If not, what is the original config and what config did you switch back from?  Basically, what config works and what config doesn't work?

[2015-12-02 11:40] steveeJ opened #84 "macvlan: neighbours are not aware of ARP changes"
I would expect for the kernel to take care of this, but somehow it doesn't seem to work if IPs are reused. This issue stems from https://github.com/coreos/rkt/issues/1765.

[2015-12-02 18:08] eyakubovich commented on #84
Since containers tend to be much more short lived than machines, ARP caching should be much less aggressive in the system. This is easier said than done, of course. For Linux based neighbors, setting `net.ipv4.neigh.default.gc_thresh1=0` should help (see https://groups.google.com/forum/#!searchin/coreos-user/arp/coreos-user/FG5B0PxP7Wc/4Y-JwRSOFAAJ).

An obvious improvement suggested by @steveeJ i

[2015-12-05 01:32] bprashanth opened #85 "Release binaries"
It would make consumption a little easier, and why not anyway?

[2015-12-08 23:50] eyakubovich opened #86 "dhcp: add support for DNS"
Option 6 is used to communicate the DNS server. The dhcp plugin should output this in "dns" field of the result JSON.

[2015-12-09 01:33] eyakubovich opened #87 "spec: plugin shouldn't care if it has been wrapped"
Currently the CNI works best if there are two levels of plugins: main and ipam.
Fewer levels (i.e. just main plugin) works fine but more levels are a bit problematic. Consider how the ipam plugin finds its configuration. The JSON that it receives is the same one that was fed to the main plugin. E.g.

[code]

The `host-local` IPAM plugin looks for its config under the `ipam` key. It will also look

[2015-12-09 21:59] #44 closed

[2015-12-10 21:35] caseydavenport commented on #74
I tested this out - it looks like rkt does pass the correct path relative to the `cwd` of the plugin, so I think this is fine.  If anything, I think the `CNI_NETNS` variable should just be documented to include that it can either be an absolute path, or a path relative to the current working directory of the plugin.

Either way, I think this issue can be closed.

[2015-12-12 00:09] bprashanth opened #88 "Invalidate arp cache when reusing ips"
I create a netcat server that looks up hostname, and a netcat client. I kept the client up, and deleted/recreated the server. It kept coming up with the same ip. However, on the host:
[code]

if during duration T1 I send some udp packets to the server through nc -u, tcpdump on the eth0 of the server (inside the container), shows:

Client:
[code]
Server:
[code]

This is with v0.1.0, @eyakubovich th

[2015-12-12 00:11] bprashanth commented on #88
If you want a better repro (using docker pods): https://gist.github.com/bprashanth/06e30ca02370df875892

[2015-12-14 21:30] dcbw opened #89 "spec: UPDATE/CHANGE action"
If details of the network change while the pod is alive there needs to be some way to run the CNI plugin to potentially update the pod's network setup for those changes.  To be clear, this would be for an existing network that changes some metadata or internal implementation details that the CNI plugin could determine and act upon.  For example, in our simple OpenShift multitenant plugin, the netw

[2015-12-14 21:34] dcbw commented on #89
A naive implementation would be the same as the ADD call (since I think all of the parameters for ADD are relevant for UPDATE/CHANGE) and the response would probably the same too, since depending on the implementation there might be IPAM changes.  But I think it would confusing to re-use ADD, unless a new parameter was added to indicate the ADD was actually a change request.

[2015-12-14 23:58] bprashanth commented on #89
I think it should perform periodic reconciliation by treating input json as the source of truth and applying any changes. If there are no changes, just return the current values (eg: bridge+hostipam would simply return podip -- this is different from ADD where hostipam would allocate a new pod ip).

This is starting to sound like Sync (status + update). Though I know at one point we discussed stat

[2015-12-15 17:34] thockin commented on #88
This should not reuse IPs until it has to.  It's more likely to cause problems than be useful.  I think it should do probably round-robin IPs like docker

[2016-01-07 08:51] ChengTiesheng opened #93 "golint warnings"
Hi guys, there are some lint warnings in CNI code, I want to make a PR to fix them, is it OK:-)

$ golint ./...
cnitool/cni.go:27:2: exported const EnvCNIPath should have comment (or a comment on this block) or be unexported
libcni/api.go:24:6: exported type RuntimeConf should have comment or be unexported
libcni/api.go:31:6: exported type NetworkConfig should have comment or be unexported
libcni/

[2016-01-07 11:59] jonboulle commented on #93
Certainly, if you're willing to unravel - there are probably some we don't
care about here.

On Thu, Jan 7, 2016 at 9:51 AM, Tiesheng <notifications@github.com> wrote:

[2016-01-08 03:51] ChengTiesheng commented on #93
Hi @jonboulle,
I have made a PR: https://github.com/appc/cni/pull/94

[2016-01-15 00:52] zachgersh opened #95 "Question: Configuration of IPAM"
Hey All,

Great work going on here, much appreciated (not said enough):

Wanted to ask - why an inline struct was defined here and not a type?

https://github.com/appc/cni/blob/master/pkg/types/types.go#L61

We're integration this into a project and want to be able to configure the IPAM (using your type) upfront. Would you mind if I PR'ed this into being a concrete type or was there a specific des

[2016-01-15 18:49] jonboulle commented on #95
I can't think of a good reason so I'd definitely be amenable to such a PR

On Fri, Jan 15, 2016 at 1:52 AM, Zach Gershman <notifications@github.com>
wrote:

[2016-01-15 18:56] zachgersh commented on #95
@jonboulle great - I'll get that done sometimes this weekend and send that over.

[2016-01-20 18:49] zachgersh opened #97 "Loopback devices - UP by default on host-bridge?"
Hey All,

On the host-bridge plugin the loopback device is down by default. Is there any particular reason for that or could we set it to up as part of the plugin itself? Maybe we introduce a conf value to handle whether or not to up the loopback device in the namespace?

[2016-01-22 14:49] steveeJ commented on #97
The [README](https://github.com/appc/cni/blob/6fc3874d57164f7794c4265005200028b7b5e47e/README.md#running-the-plugins) shows an example for the bridge plugin and it clearly states the loopback device as UP.

Please describe your steps so we have a chance to reproduce your situation and find a solution.

[2016-01-22 17:28] sykesm commented on #97
@steveeJ the `priv-net-run.sh` script is actually [bringing the link up][up]. I think @zachgersh was trying to imply that the action should be part of the host-bridge plugin?

[up]: https://github.com/appc/cni/blob/master/scripts/priv-net-run.sh#L9

[2016-01-22 23:43] zachgersh commented on #97
@steveeJ, @sykesm is totally correct. I don't believe this should be logic that is housed in a .sh file and should instead be part of the plugins responsibility.

[2016-01-23 13:59] steveeJ commented on #97
I see, and totally agreed. I'm also wondering why it's not part of the plugin, and I don't see a reason to keep it like this.

@sykesm @zachgersh  Is one of you volunteering for this one? :-)

[2016-01-23 17:46] zachgersh commented on #97
@steveeJ I will take this :+1:

[2016-01-27 08:03] steveeJ opened #100 "*: DNS option only allows to configure nameserver entries"
http://linux.die.net/man/5/resolv.conf has some more options than *nameserver*.
I suggest to add *search* and *domain*. I'm not sure if we want/need the others.

/cc @alban

[2016-01-28 17:56] rosenhouse commented on #97
an alternative could be a dedicated plugin called "loopback" that just up's it and sets the addresses to 127.0.0.1 and ::1 (h/t to @sykesm for the idea).

[2016-01-29 10:07] steveeJ commented on #88
@bprashanth please provide the `repro.sh`, I'm not clear what exactly is happening here. It seems like the on-disk information has been deleted without cleaning up the interfaces.

As described in https://github.com/appc/cni/blob/v0.1.0/plugins/ipam/host-local/README.md#backends, the *host-local* IPAM plugin stores already used IPs on disk. If it's cleaned up by executing the plugin with `DEL` ins

[2016-01-29 10:16] #100 closed

[2016-01-29 15:10] steveeJ commented on #97
+1

[2016-01-29 15:56] bprashanth commented on #88
I can get a better repro when I have some time. Are you OK with a repro script that uses Kubernetes pods or would you like me to try with plain docker containers? It's just easier with the former, if you have a kubernetes cluster at your disposal.

[2016-01-29 17:39] steveeJ commented on #88
@bprashanth I'm just trying to get an idea of what's in the script, so anything you have is fine for me.

[2016-01-29 18:21] bprashanth commented on #88
So I was running:
1. The CNI bridge plugin to hookup docker containers with `net=none` as Kubernetes pods
2. A udp server pod

So `CNI add` for a kubernetes pause container, then join a udp server to that net namespace with --net=pause-container. This is the standard Kubernetes pod configuration represented via a pod like: https://gist.github.com/bprashanth/06e30ca02370df875892#file-gistfile1-txt-

[2016-01-30 07:27] steveeJ commented on #88
@bprashanth thanks for taking your time to describe this. What's still missing for my understanding is where CNI is executed with either ADD or DEL. My guess would be the `kubectl create` and `kubectl delete` calls respectively, but I'd rather not rely on a guess.

[2016-01-30 08:10] ghost opened #106 "Question: Does CNI support multi-hosts network"
Hi,

Can you please let me know if CNI currently support multi-host (overlay) network so that containers in different hosts can communicate in the same network? Thanks!

[2016-01-30 08:22] steveeJ commented on #106
@zhq527725 CNI currently supports this via the [flannel plugin](https://github.com/appc/cni/blob/master/Documentation/flannel.md). If you give it a try we'd be happy to receive any feedback.

[2016-01-30 12:20] zhq527725 commented on #106
Great! I'd love to have a try and let you know for any feedbacks, thanks @steveeJ!

[2016-01-30 22:41] bprashanth commented on #88
Yeah. When you setup a kubernetes pod, it does the following:
* Create a pause container with net=none: this is essentially a while true loop to hold onto the net ns.
  * Invoke CNI ADD `cni_json` on the bridge plugin, so this pause container is added to some bridge, gets routes configured etc.
*  Create the actualy containers in the pod (udp server running this image: https://gist.github.com/bpra

[2016-01-31 03:28] aanm opened #111 "[Proposal] - Add host-local IPAM support for IPv4 and IPv6 at same time"
Currently the host-local IPAM doesn't allow to have a pool of IPv4 and IPv6 addresses.
Does it make sense to have that?

[2016-01-31 03:31] aanm opened #112 "What happens if the container already has the interface "inside the container"?"
The spec doesn't have anything related to that. So what is the procedure? Are the plugins allowed to remove, make the necessary modifications, and then recreate the interface with the same name?

[2016-02-01 17:14] dcbw commented on #112
Removing the interface may break existing connections and cause apps inside the container to fail when their interface goes away and sockets are closed and things like that.  So I would imagine that completely removing the interface would not be desirable.

I'm assuming this item is in the spec because apps may reference the network interface by name or something, or maybe the runtime may need to

[2016-02-01 17:19] steveeJ opened #113 "plugin's should return interface information in the result"
As long as port forwarding is not dealt within CNI there's a lot of work left for the runtime alone.
CNI could make this easier by returning the names/indexes of the created interfaces.

It may be useful to return more/other information than interface names, so an implementation could just add a generic dictionary to the result and let the content depend on the plugins.

[2016-02-01 17:34] jonboulle commented on #113
I think we talked about this in person a while ago, with some use cases that eluded me now - @thockin any recollection?

[2016-02-01 17:47] aanm commented on #112
Accordingly with the spec the only thing passed up to the runtime is the IPs assigned and the DNS info.

IPs assigned to the interface. This is either an IPv4 address, an IPv6 address, or both.
DNS information. Dictionary that includes DNS information for nameservers, domain, search domains and options.

[2016-02-01 19:01] dcbw commented on #112
Yeah, I think that should get changed.  The runtime should pass back the interface name and all that, instead of accepting an interface name from the runtime.  Otherwise I can't see how multiple networks in a container can work for some cases, even with the same plugin.

[2016-02-03 00:57] codemachino opened #114 "Multiple interfaces in a POD"
Hello guys, I was wondering if there are any thoughts/implementations on how to add multiple interfaces inside a POD and connect them to different, for example bridges.

Example:

[code]

If not would it be easy for someone to point at the right files to start hacking ? I am pretty new to open source communities but I would love to contribute here. I also understand that a POD is designed to have

[2016-02-03 20:52] steveeJ commented on #114
Hello @codemachino,
are you referring to a specific runtime? You can create multiple JSON configuration files and execute the plugin(s) multiple times for the same pod. Let me know if that works for your you.

The alternative would be to expect a list of dictionaries per file instead just one dictionary. Personally I would be okay with supporting both.

[2016-02-05 18:18] steveeJ commented on #112
@dcbw

I would rather not guess which "runtime" to replace for "plugin". If I had to I'd say the first one?

[2016-02-08 20:44] steveeJ opened #116 "IPAM allocator and backend should be decoupled"
We could reorganize the current implementation which could be done right now without losing compatibility with existing configurations.
- ipam
  - host-local.go (implements combination of disk and sequential)
  - store
    - store.go (package, interface)
    - disk/...
  - allocator
    - allocator.go (package, interface)
    - sequential/...

However, the next step could be to configure the store

[2016-02-08 21:02] steveeJ commented on #89
This sounds reasonable to me, and the only thing I can think of why we don't have it is because it makes _DEL_ more complicated if the state was mutated since _ADD_. @dcbw are you going to propose a spec and implementation change?

[2016-02-09 05:06] qianzhangxa opened #118 "Question: Will there be any race conditions when CNI plugin is invoked in a multi-thread way?"
Hi,

I'd like to know if there will be any race conditions when CNI plugin is invoked in a multi-thread way, e.g., `host-local` ipam plugin is used and the subnet is `10.0.0.0/24`, now there is already an IP `10.0.0.2` allocated and this ipam plugin is called by two threads simultaneously, will both of these two calls see `10.0.0.3` is free to use and assign it to two containers? Or there is a mec

[2016-02-09 15:16] dcbw commented on #118
The host-local backend store uses OS-level file locks to ensure exclusive access to the address database.  So concurrent calls to the host-local IPAM plugin should not result in duplicate address allocation as long as the filesystem correctly implements flock.

[2016-02-10 03:00] qianzhangxa commented on #118
Got it, thanks @dcbw !

[2016-02-10 03:00] #118 closed

[2016-02-11 03:27] qianzhangxa opened #122 "Question: Can any CNI main plugins work with any CNI IPAM plugins?"
I'd like to know if there is any restriction about which main plugin can work with which IPAM plugin? E.g., Can bridge and ptp plugin work with dhcp plugin? Or they have to work with host-local plugin? Can macvlan plugin work with host-local plugin? Or it has to work with dhcp plugin?

[2016-02-11 04:09] qianzhangxa opened #123 "flannel: Why does flannel call ipam.ExecAdd() to invoke delegated plugin"
In the `delegateAdd()` of flannel plugin (https://github.com/appc/cni/blob/master/plugins/meta/flannel/flannel.go#L158), I see `ipam.ExecAdd()` is called to invoke the delegated plugin (e.g., bridge), it looks a little strange to me that a IPAM method is called to invoke a main plugin, Why not directly call `invoke.ExecPluginWithResult()` to invoke the main plugin?

[2016-02-11 10:09] qianzhangxa opened #124 "Question: How to get both IPv4 and IPv6 address from a network"
In https://github.com/appc/cni/blob/master/SPEC.md, I see a sentence:
`IPs assigned to the interface. This is either an IPv4 address, an IPv6 address, or both.`
So does that mean I can get both IPv4 and IPv6 address from a single network? If yes, I'd like to know what kind of network configuration can support such use case? I thought in the "ipam" section of a network configuration, there can only

[2016-02-11 11:28] aanm commented on #116
Answering to the #115 question, I'm currently using the `IPAMConfig struct` and the allocator on a different IPAM.

[2016-02-11 14:36] jonboulle commented on #116
Splitting this apart SGTM

[2016-02-12 08:55] steveeJ commented on #122
I'll go into some of your examples in a bit, upfront there are certain restrictions which stem from the nature of the interface types and how they are used in these plugins.

* ptp: we use veth devices to create point-to-point connections between two network namespaces. DHCP won't work out of the box with this, as it needs layer 2 connectivity to the a network the DHCP server listening on. Technic

[2016-02-12 09:31] steveeJ commented on #124
Strictly seen the IPAM section doesn't directly configure the IP range. It covers _type_ and _routes_ as described in the [SPEC.md#network-configuration](https://github.com/appc/cni/blob/master/SPEC.md#network-configuration). The IP specific parameters belong to the _host-local_ IPAM plugin which allows you to specify either IPv4 or IPv6 information. _dhcp_ would be an example that could return bo

[2016-02-12 09:33] steveeJ commented on #111
This would make a lot of sense and I've been thinking how to allow this without breaking compatibility and still keep it simple. @squaremo any great ideas?

[2016-02-12 10:05] steveeJ commented on #75
It is a good idea to pass this state out to the caller, but I would like to keep it optional/configurable.

This might be related to #116, because if we allow every plugin to have a state we should at minimum offer to take care of the state as we already do with the host-local allocator. It looks like this is developing to be a generic pattern so that every plugin can use a store backend to serial

[2016-02-13 02:52] qianzhangxa commented on #124
Thanks @steveeJ, so for *host-local* IPAM plugin, I can only specify either IPv4 and IPv6 range but not both, and we do not have plan to let it support both in future, right?

[2016-02-17 14:17] jonboulle opened #125 "README: various improvements"
- [x] describe current state of project and roadmap/timeline
- [x] link to implementations/integrations (e.g. rkt, kubernetes, calico, weave)
- [x] encourage people to get involved and describe how
- [x] Roadmap https://github.com/coreos/rkt/blob/master/ROADMAP.md #218

[2016-02-17 21:59] tomdee opened #126 "host-local IPAM plugin doesn't work with kubernetes"
When using the CNI plugin with Kubernetes, a number of additional arguments are [provided](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L201). This causes the `host-local` plugin to exit with

[code]

[2016-02-18 12:48] steveeJ commented on #124
@qianzhangxa we do have plans to support both with host-local in the future. I'm currently working on a proposal to make the model more flexible.

[2016-02-18 13:05] steveeJ commented on #126
A discussion about this has started in #109, and I agree that the situation is not ideal. However I would be very unhappy to just ignore unknown arguments all together. IMO, we need a better strategy than what we have and what's currently proposed.

[2016-02-18 17:17] asridharan opened #128 "Instead of `type` shouldn't we have a `network` field ?"
Currently the `type` field defines the type of plugin to be used. Depending on a the type field there are multiple fields that are possible, that might be relevant to using the plugin defined in the `type` field. It becomes very confusing to try and relate fields in the networking spec, to plugins defined in the type field. For e.g., if the type is `bridge`, then the field `bridge` is relevant and

[2016-02-18 18:38] asridharan opened #129 "compile error for `dhcp` plugin"
Steps to reproduce:
a) Cloned the git branch
b) HEAD = 48849bd3e38e0537a826cf9f30869bd28c2ca151
c) ran ./build got the following error:

[code]

[2016-02-19 09:54] jonboulle commented on #129
Please [ensure you have go 1.4+](https://github.com/appc/cni#requirements), as this function was only added then

[2016-02-19 09:54] #129 closed

[2016-02-19 17:04] asridharan commented on #129
Thanks. After jumping through a few hoops go go 1.4.3 installed and the build went through fine.

[2016-02-23 03:42] achanda opened #130 "Please add docs on testing and integration with rkt"
I have been trying to modify drivers. While I can build my mods, there are no tests that I can run to validate my code. Also, it's not obvious how do I use my modified driver with `rkt`. Adding some instructions on this will benefit new contributors.

[2016-02-23 03:52] achanda commented on #130
I totally missed some sections in the readme, my bad :(

[2016-02-23 03:52] #130 closed

[2016-02-23 04:15] achanda opened #131 "Can't get IPv6 addresses from the host-local plugin"
The documentation says that it can allocate IPv6 addresses, but here is what I see

[code]

[2016-02-23 17:23] steveeJ commented on #131
The official state of IPv6 is not supported, and you found exactly that. The issue tracker for #31 but there hasn't been any ongoing work so far.

[2016-02-23 19:05] steveeJ commented on #128
@asridharan, please make a full example to demonstrate your thoughts. Please include an IPAM plugin in your example to give a complete snapshot of your idea.

[2016-02-23 19:47] achanda commented on #131
Thanks @steveeJ I noticed that the returned result is correct but the key is wrong. Fixed that in the PR.

[2016-02-24 20:17] asridharan commented on #128
This is an example of the current network config for the "bridge" plugin:
[code]
I am proposing the type filed be replaced by "network", which in itself be a dictionary:
[code]

The **params** field becomes plugin specific, and will allow the container run-time to identify and pass the parameters to the plugin.

[2016-02-25 22:16] steveeJ commented on #128
Do I get the notion right that this puts ipam and network on the same level, in contrast to the hierarchy we currently have?
It bothers me that _isGateway_ and _ipMasq_ currently stand out. They are not compatible with every plugin/ipam combination anyway, which cries for a more elegant solution.

[2016-02-25 22:38] asridharan commented on #128
Yes you are right. I want to keep IPAM and network at the same level, since IP networks by nature should be independent of the way the IP address is assigned. I do see your point about the `isGateWay` and `ipMasq` fields. I would agree that these fields should be move into the "network/plugin" layer as well, and made more plugin specific.

[2016-02-27 14:14] qianzhangxa commented on #124
Great to know, thanks @steveeJ !

[2016-02-27 16:45] qianzhangxa opened #139 "Question: Is there a plan to support port forwarding in CNI"
Hi,

I'd like to know if there is a plan to support port forwarding (e.g., forward the packet sent to a host port to a container port) in CNI plugin (e.g., bridge plugin). I think this is a common and useful feature, thanks!

[2016-03-02 09:10] steveeJ commented on #139
Port forwarding is currently beyond the scope of CNI and there is currently no plans to change that. However if you have a good use-case please provide a thorough explanation and at best paired with a pull-request ;-)

[2016-03-02 10:18] steveeJ opened #141 "plugins/loopback: unmarshalling error when added with cnitool"
Placing the configuration `/etc/cni/net.d/00-lo.conf`:
[code]

The attempt to add it with `cnitool` fails like so:
[code]
While *lo* is up the error is valid. The plugin doesn't return a valid result.

This should also be covered in a test.

/cc @zachgersh

[2016-03-02 14:48] steveeJ commented on #97
With #121 merged it's pretty convenient for consumers to up the loopback device.

@zachgersh are you OK with the solution or would you still like to make it the default behavior? I'll leaving closing of this issue to you.

[2016-03-02 14:50] steveeJ commented on #124
Closing in favor of #131.

[2016-03-02 14:50] #124 closed

[2016-03-02 14:51] steveeJ commented on #139
Closing in favor of #46

[2016-03-02 14:51] #139 closed

[2016-03-02 15:05] steveeJ commented on #123
@squaremo can you jump in here? Github told me you wrote the line in question :-)

[2016-03-02 15:07] steveeJ commented on #131
Related/If not even duplicate of #111

[2016-03-02 15:07] steveeJ commented on #112
Ping @dcbw

[2016-03-02 15:08] steveeJ commented on #89
Ping @dcbw

[2016-03-02 15:10] steveeJ commented on #114
@codemachino, have you worked this out for yourself?

I actually think that pods may as well have multiple addresses, and CNI should definitely support that. I'd like to learn about your use case!

[2016-03-02 15:38] squaremo commented on #123
Ahhh yes, I think I know this one -- the Exec* procedures originally lived in the `ipam` package. I factored them out so they could be used by libcni, leaving shims behind for convenience -- and apparently neglected to update this use. I'll correct it.

[2016-03-02 15:52] dcbw commented on #112
@steveeJ I'm working on a PR to pass the interface name back to the runtime.  It doesn't yet re-try interface creation with different names, but at least it gets the API ready.

[2016-03-03 08:03] #141 closed

[2016-03-03 18:50] steveeJ commented on #84
We should follow-up @jellonek's suggestion from https://github.com/coreos/rkt/issues/1765#issuecomment-188776317 and enable *arp_notify* on the macvlan interfaces created via CNI.

[2016-03-04 10:03] steveeJ opened #147 "Increasing CNI's scope?"
While the single plugins are independent (well, not really, e.g. (meta<->)main<->ipam), wouldn't CNI actually benefit of a holistic view on the situation? Without that, there will always be the need for consumers to put workarounds in place and go back and forth to retrieve information that will be used for the next invocation. I would prefer to pass a netns and multiple network configuration file

[2016-03-04 11:24] squaremo commented on #147
If we're thinking of having CNI take on some responsibility for e.g., providing interface names, it makes sense to go on and have the convenience of bulk operations.

There would have to be some thought put into what to do with partial failures -- either transactional behaviour (probably impossible) or at least the ability to roll back and try again.

Could this be done as a broadening of the libc

[2016-03-04 14:07] jonboulle commented on #147
if you go this route, what needs to change here at all?

[2016-03-04 16:11] steveeJ commented on #147
Heading in the direction of #145, the result information will be more complex. I imagine this to be flexible enough to have dynamic type result containing list of embedded results from the different network configuration files. This requires the result specification to be adapted.

[2016-03-08 02:44] qianzhangxa opened #150 "[Question]: What does "cniVersion" and "CNI_VERSION" do?"
Hi,

I'd like to know what "cniVersion" field means? Is it a required field in CNI network configuration? In https://github.com/appc/cni/blob/master/README.md#running-the-plugins, I do not see it in the example configuration, so it should be an optional field?

And what about the environment variable "CNI_VERSION" when invoking CNI plugin? How does it interact with "cniVersion", it's value has to

[2016-03-08 17:40] steveeJ commented on #122
@qianzhangxa is the issue resolved for you or do you have any other questions?

[2016-03-09 16:30] #66 closed

[2016-03-09 17:25] ramukima commented on #128
:+1:  Also, I do not understand what is the intention to have, "routes" under "ipam" specification. Is it necessary for the IPAM system to perform that 'routing' configuration ? Does an IPAM in general know 'how to configure routes' ? I may be missing the intention here. I suppose, having the gateway address specified for the subnet is sufficient and 'routing' could be separated from the core spec

[2016-03-09 21:24] dcbw commented on #128
@ramukima typically the thing doing the IPAM does handle routing as well, like with DHCP or IPv6 SLAAC.  Routing also has to know the specifics of the IP address and subnets assigned to the interface.  So they are closely related.  There are some cases where independent routing could be done without needing the IPAM information, but that's a parallel case and I'm not sure it's very common.

[2016-03-09 21:27] dcbw commented on #150
@qianzhangxa See https://github.com/appc/cni/pull/80 for more details.  It's intended to ensure that if the CNI spec gets extended incompatibly in the future, that the runtime and plugin can intelligently handle a mismatch.  If the runtime passes a version number that indicates which CNI specification the arguments its passing conforms to, and if the plugin doesn't understand that version it can r

[2016-03-09 22:52] jfrazelle opened #151 "[Proposal]: Filter plugin"
**Use Case:** To be able to define `iptables` rules for a container network.

Ideally, this plugin would handle the following aspects of configuration for the CNI network:
  * Destination Network (or /32 address): same as `-dst`
  * Source Network (or /32 address): same as `-src`
  * Destination Port: same as `-dport` (optional)
  * Source Port: same as `-sport` (optional)
  * Protocol: `udp`, `tc

[2016-03-09 22:53] jfrazelle commented on #151
ping @brianredbeard

[2016-03-09 22:54] brianredbeard commented on #151
+1

I think that this would allow for a lot of novel configurations.  Additionally this removes the need for certain operations requiring `CAP_NET_ADMIN` from the realm of container execution and properly puts it in the hands of a host administrator.

[2016-03-09 22:55] brianredbeard commented on #151
Affects #138

[2016-03-09 22:57] jfrazelle commented on #151
Also would need to delegate ipv4 or ipv6.

[2016-03-09 23:38] brianredbeard commented on #151
Possibly the following additions:
  * Table (optional, defaults to FILTER)

Likely the originally proposed "Target" should changed to "Chain" to more closely align with the configuration terminology from `iptables`.

For clarification, the combination of both chain and table can be used to create both filter rules and relevant redirect rules at (seemingly) almost any stage of the packet routing th

[2016-03-09 23:50] jfrazelle commented on #151
+1, and cool ascii chart :)

On Wed, Mar 9, 2016 at 3:38 PM, brian <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-03-09 23:55] squaremo commented on #151
This looks like something that's already been discussed a fair bit. May we know what impels it? Context-establishing links gratefully welcomed :)

[2016-03-10 00:02] philips commented on #151
@squaremo This is part of the context, I think: https://groups.google.com/forum/#!topic/cni-dev/FW3BCFJwAxY

[2016-03-10 13:59] ramukima commented on #128
@dcbw surely Routing function has to know about IP address and subnets. However, I have not seen the opposite always true. An IPAM system may notify other systems of IP acquisitions/release activities, but I am not certain that routing can be treated as a sub-function of IPAM. In my opinion, the 'routing' function can grow in need depending on underlying infrastructure topology and there may be a

[2016-03-12 03:07] qianzhangxa commented on #128
@asridharan, in your example below, it seems `type` and `plugin.name` are duplicated, maybe we should only have `type` field?
[code]

[2016-03-12 08:12] qianzhangxa commented on #150
Thanks @dcbw! I took a look at #80, it seems that PR only updated `SPEC.md`, did not change any code. And in https://github.com/appc/cni/blob/master/pkg/types/types.go#L59:L66, I do not see the `cniVersion` field yet, so the version mechanism in CNI has not been implemented, right?

[2016-03-13 12:46] qianzhangxa opened #152 "[Question] How is veth deleted in the host with bridge plugin?"
Hi,

For the bridge plugin, in its `cmdDel()` method, I only see the interface of the container (e.g., eth0) will be deleted:
https://github.com/appc/cni/blob/master/plugins/main/bridge/bridge.go#L244:L246

But how about the other end of the pair in the host (e.g., vethxxx)? I do not see the code to delete it, but the fact is it is indeed deleted. Is it because it will be automatically deleted aft

[2016-03-14 05:41] zachgersh commented on #152
Hey @qianzhangxa - you are exactly right!

[2016-03-14 05:41] #152 closed

[2016-03-14 05:52] qianzhangxa commented on #152
Got it, thanks @zachgersh !

[2016-03-14 19:48] f0 commented on #84
@steveeJ
@jellonek

any chance to get #149  merged and released ?

[2016-03-15 00:34] zachgersh commented on #97
Now that this is merged and the documentation is updated - this can totally be closed.

[2016-03-15 00:34] #97 closed

[2016-03-15 08:46] jellonek commented on #84
I hope so. I have in plan to do same thing in kvm flavor, but after this on in CNI will be accessible in rkt (so after bump of dependency on appc/cni).

[2016-03-15 14:03] #123 closed

[2016-03-15 16:30] zachgersh commented on #150
@qianzhangxa I believe your confusion is actually warranted. I think the spec was changed but there was no associated code change. This really is a small bug that we would gladly take a PR for :dart:

[2016-03-16 01:27] qianzhangxa commented on #150
Thanks @zachgersh for the clarification. Is anyone currently working on that PR? If not, can I take it? :-)

And can you please help answer my questions about `CNI_VERSION` and `cniVersion` below?

[2016-03-16 01:46] zachgersh commented on #150
@qianzhangxa you can totally take the fix! As for why it is both specified as an ENV var and a argument to stdin, I can't really say. Maybe @steveeJ would know. Maybe we pick one and remove the other?

[2016-03-16 07:36] qianzhangxa commented on #150
Yeah, I think we should just pick one.
@steveeJ, any comments? :-)

[2016-03-16 08:40] steveeJ commented on #147
@squaremo

Yes, I think the problem could be solved by extending libcni. Let's think that approach through, it'll allow us to be more experimental before we settle the features, and we always have the possibility to merge it into the specification if we like it a lot ;-)

I'd like to collect suggestions how to describe the compatibility between plugins, I'm looking for something declarative, so de

[2016-03-16 09:15] qianzhangxa commented on #111
@aanm and @steveeJ, can you please clarify the behavior of `host-local` IPAM plugin supporting IPv4 and IPv6 at the same time. Does that mean after calling `host-local` IPAM plugin the caller will get two IPs (one IPv4 and one IPv6)? But I think the caller will only pass one interface name (e.g., eth0) to the plugin via CNI_IFNAME, so if there are two IPs allocated, we will set both of them up on

[2016-03-16 13:01] errordeveloper opened #155 "failed to find a unique veth name"
This error message happens to appear when the interface inside the container already exists, and this is supposed to be unreachable code... not sure what's exactly going on here.

What I'm doing is:
[code]
And this command works the first time, but returns the "failed to find a unique veth name" on the second run. If I bump `CNI_IFNAME`, it works again.

[2016-03-16 14:09] steveeJ commented on #151
@jfrazelle first, thanks for this detailed proposal!

As I understand this, your design would require to add a generic _filter_ field to the spec, and we would need to figure out what a filter-type plugin is, which attributes to keep generic to all filter plugins and declare the others specific to your proposed `iptables` plugin. In addition, main/meta plugin would have to implement filter specifi

[2016-03-16 15:30] aanm commented on #111
@qianzhangxa In my opinion, yes for all the questions. Unless we could change the caller request to have an option like that would allow him to specify which kind of IP (IPv4: true, IPv6: true) wants to that interface.

[2016-03-16 15:32] steveeJ commented on #155
I assume you're referring to [this comment](https://github.com/appc/cni/blob/d19044896e06af0c9130963db0afe71c1b6620aa/pkg/ip/link.go#L64). While I don't like the code in question and your case indeed falls through, can you agree with me that your use-case isn't a valid one? You are requesting CNI to use the same interface name, which will undoubtedly clash.

[2016-03-16 15:48] squaremo commented on #155
Right -- at the minute CNI makes it the responsibility of the caller to supply an unused interface name. While that's not ideal, I don't think it could be made completely foolproof.

[2016-03-16 16:11] steveeJ commented on #155
I agree. What we can do better right now is detect this error case in the first loop iteration and give more exact information in the error message.

[2016-03-16 16:56] tomdee commented on #151
I second @steveeJ's point about this being implemented as a separate plugin. But I don't really understand the use case - is this just a way of encoding iptables rules in CNI config? Why not just run those rules directly?

This is also going to present problems with some of the backends - AFAIK iptables doesn't work with ipvlan,

[2016-03-16 18:05] steveeJ commented on #150
I can't find any references in the code, and I agree that we shouldn't keep both around. It's a decision to be made which we're going to use. Personally I like the attribute in the configuration better, because it allows to track for which CNI version a configuration has been written.

[2016-03-16 20:31] tomdee commented on #85
I would also like binaries. It would be nice to have binaries attached to Github releases but it would also be great to have binaries per build.

Could it be done using the existing travis CI setup? I know that CircleCI allows the archiving of artifacts (we do this for Calico).

[2016-03-16 20:39] bprashanth commented on #85
I think the stock CNI plugins *at least* need a Makefile that compile static binaries.

IIUC there was some confusion around how exactly we should be distributing the plugins (https://groups.google.com/forum/#!topic/cni-dev/-fARxzl547s) but binaries are an easy enough first step that maybe we can start with that?

[2016-03-16 21:00] tomdee commented on #85
Yes, agree strongly on the Makefile and static binaries, then that makes is easy to add them to CI builds or releases.

[2016-03-16 23:15] errordeveloper commented on #85
One big +1 on building and publishing binaries in CI, although I'm not sure where we stand with tests...

[2016-03-17 00:41] zachgersh commented on #85
@errordeveloper we are working on adding more test coverage to the whole project. Welcome PRs to increase it as well!

[2016-03-17 10:53] errordeveloper commented on #155
@steveeJ why isn't it caught by the default case?

[2016-03-17 13:26] steveeJ commented on #155
@errordeveloper it falls into this case https://github.com/appc/cni/blob/d19044896e06af0c9130963db0afe71c1b6620aa/pkg/ip/link.go#L55, which is supposed to help with the interface name clashes of randomly generated names for the `peerName`.

[2016-03-17 13:37] steveeJ opened #159 "Plugins should be able to declare their supported CNI_ARGS"
With #158 releasing some pressure on CNI on this regard, we have time to think about a real solution.

I don't think it is an ideal solution for users and plugin developers to just happily pass in `IgnoreExtra` with an uncontrolled/unknown combination of other args.

[2016-03-17 17:22] steveeJ opened #160 "Documentation on vendoring"
We should agree on an official way to manage/declare the dependencies. Since #156 I assume we will not use godep, or would we @zachgersh?

It would be nice to have a standardized and documented way, similar to this one from the rkt docs: https://github.com/coreos/rkt/blob/master/Documentation/hacking.md#managing-dependencies

[2016-03-17 18:54] errordeveloper commented on #155
@steveeJ ah, of course, didn't realise this error is effectively ignored.

[2016-03-18 05:24] zachgersh commented on #160
This is interesting and I do really like what rkt has done documenting how to manage dependencies for the project. I may just drop a PR for our `CONTRIBUTING.md`.

Long story short - godep is still used for saving dependencies into the vendor folder and that is it. You no longer need to do anything like godep restore etc.

[2016-03-18 11:29] squaremo commented on #147
Compatibility constraints (whether white-listing or black-listing) have the problem that they need constant intervention; e.g, plugin X does not white-list plugin Y, and the system refuses to let them operate together (until plugin X gets an update, or I take the risk of overriding the constraint).

That may be acceptable if new plugins don't come along that often (and if they can declare their ow

[2016-03-18 11:32] squaremo commented on #147
@steveeJ Is it worth splitting compatibility, arg specifications, and plugin composition into their own issues? Or do you think we should tackle them in one go, or use this as a discussion until we have concrete proposals?

[2016-03-18 13:38] steveeJ commented on #147
@squaremo please split apart where you see fit and/or feel free to incluce a checkbox list in the first post!

[2016-03-18 14:25] MikeSpreitzer commented on #113
@jonboulle, @thockin: See https://github.com/MikeSpreitzer/kubernetes-contrib/blob/issue/576/cni-plugins/to_docker/README.md#pre-requisites for a reason.

[2016-03-18 15:12] steveeJ commented on #113
@dcbw do you see #145 as a fix for this one?

[2016-03-18 20:43] brianredbeard commented on #151
@tomdee / @squaremo I'll also leave this open for additionally commentary by @jfrazelle, but yes, this is a way of encoding iptables rules in a CNI configuration.  One motivator of this is the ability to predictably specify limitations on a network outside of a particular container (without requiring the container to have `CAP_NET_ADMIN` for it's namespace).  In another case, I want to be able to

[2016-03-19 14:43] qianzhangxa commented on #150
@steveeJ, I have another question: how can a plugin know if the version it can understand or not? Will we have version number in each plugin's code and have plugin to check if the version passed by runtime is compatible with its version in the code?

[2016-03-19 19:06] steveeJ commented on #155
@errordeveloper volunteering? :-)

[2016-03-21 19:47] tomdee commented on #85
[Travis](https://docs.travis-ci.com/user/uploading-artifacts/) supports uploading artifacts to S3 (CircleCI also supports hosting the artifacts themselves if you'd consider switching) -

[2016-03-21 20:25] zachgersh commented on #85
Would be nicer if we could keep any sorts of binary artifacts as GitHub releases. This is usually easier in terms of discovery.

[2016-03-21 21:44] tomdee commented on #85
Yes, binaries on Github releases would be a great thing, but
1) this project doesn't have a great track record with doing releases on Github
2) The github release binaries have to come from somewhere, and that somewhere should be reliable and repeatable. Having the CI system create the binaries would meet this requirement.

[2016-03-21 23:42] philips commented on #85
Yea, we need to write some sort of release tooling. We have tooling for our other projects like rkt and etcd that we could borrow. If anyone has bandwidth to write the tooling we can do the releases and sign them with the CoreOS application signing key which has a whole trusted process around.

[2016-03-21 23:44] bprashanth commented on #85
@kubernetes/sig-network

[2016-03-22 20:19] freehan opened #163 "Update go-iptables dependency with bug fix"
Encounter this problem when using CNI bridge plugin on K8s.

[code]

It turns out the go-iptables client is returning `bad file descriptor` error.
PR for this in flight: https://github.com/coreos/go-iptables/pull/15

Please update dependency once fix gets in.

[2016-03-23 05:05] #126 closed

[2016-03-23 17:34] squaremo commented on #125
Also worth considering:

 * contribution guidelines (commit messages e.g.)
 * how planning/roadmaps works

[2016-03-23 17:46] jonboulle commented on #125
FWIW, there is a contribution guide [here](https://github.com/appc/cni/blob/master/CONTRIBUTING.md). That document is just a fork of our standard CoreOS one, feel free to tweak/simplify/fold into README as desired.

[2016-03-24 15:40] dcbw commented on #113
@steveeJ yeah, I think #145 is a fix for this and I can certainly add host/container interface index to the returned dict.

[2016-03-24 15:50] dcbw commented on #113
@jonboulle on the last Kube Net SIG we discussed this and @thockin was fuzzy too; he said he'd dump his recollections into #145 or this issue.

I believe one issue was that keeping the interface naming in the runtime keeps each plugin simpler.  libnetwork's approach of the plugin returning an interface prefix and then having libnetwork handle any naming conflicts seems like a nice compromise, but

[2016-03-24 15:51] dcbw commented on #113
To be clear, I don't think requiring the runtime to handle interface naming conflicts is a great strategy.  I feel like that's much more a network plugin operation, and the runtime should simply use the interface name passed back from the plugin.  Also, plugins may actually want to re-use the same interface but just set up different routing or something on it, instead of creating an entirely new o

[2016-03-24 17:31] zachgersh commented on #85
We may attempt to user [concourse](http://concourse.ci/) to test then build / upload our release binaries. Should be trivial to setup a pipeline (I've got plenty of experience). Would just need to find infrastructure to put it on (I am working on this).

cc @philips

[2016-03-24 18:21] dcbw commented on #113
https://github.com/appc/cni/pull/145 now updated to handle multiple interfaces in the same container.

[2016-03-25 13:45] onlyjob opened #166 "please tag new release"
Please tag new formal release.
Kubernetes v1.2.0 already vendored unreleased (post 0.1.0) snapshot of _appc/cni_. :(

[2016-03-26 12:46] jonboulle commented on #166
This will happen for 0.2.0 imminently, and we plan to be more diligent about releases going forward.

[2016-03-26 22:03] onlyjob commented on #166
Thanks.

[2016-03-29 01:05] lxpollitt commented on #151
@brianredbeard: I'm not sure I'm grokking how your example uses cases would map to the proposed filter plug-in. Is the intention that the filter plugin provides the networks (e.g. dmz & protected) itself? Or  does the filter plug-in chain on to another network plugin that is providing the networks?

(@jfrazelle: It would be good to chat to you about how we approach this kind of filtering in the Ca

[2016-03-29 09:23] alban commented on #166
CNI also vendor dependencies and some of them are not a release, e.g. CNI depends on coreos/go-systemd commit https://github.com/coreos/go-systemd/commit/2688e91251d9d8e404e86dd8f096e23b2f086958 instead of a tag. Should they be updated too?

[2016-03-29 09:52] onlyjob commented on #166
Yes please, that would be beneficial and useful. Ideally all (vendored) dependencies should be tag-based, whenever possible.

Contrary to random unreleased snapshot, tagged/versioned dependencies can provide certain benefits of stability and notion of production readiness.

Versioning provides safety margin for situations like "ops, we've made a mistake but corrected problematic commit in master".

[2016-03-29 10:14] squaremo commented on #151
I think the idea would be to compose a filter plugin "network" with other configuration that provides the actual network. (This composition is possible today just by adding more than one "network" to a namespace, but it could be made more convenient. See #147.)

I like this point, and I think it strongly supports the case for a filter plugin.

[2016-03-29 17:35] lxpollitt commented on #151
I would love to see CNI supporting networking policy (at a minimum filtering, but other policy too in time) in a way that is implementation neutral.  I would also like to see it being dynamic and not just at container creation time.  I am not sure that defining a new plug-in type to manipulate iptables achieves either of those goals.  I'm struggling to see how it wouldn't introduce significant ass

[2016-03-30 09:44] steveeJ commented on #85
@zachgersh Thanks for putting work into this! Any updates on this so far?

[2016-03-31 15:36] zachgersh commented on #166
@jonboulle / @onlyjob may be beneficial to just tag now (nothing to crazy) and then move most of our work over to another branch called "develop". I've seen that pattern a bunch.

[2016-03-31 15:40] zachgersh commented on #85
@steveeJ - yes, I've totally got a plan for this and was also waiting for [concourse](https://concourse.ci) to hit v1.0, which just recently happened.

Here are a couple of things I would love answers to:
- Can we get another repo in the appc org to host our pipeline / ci configuration?
- Where are we going to push the binaries to s3 wise for signing?
- Can someone provide the s3 credentials?
- Co

[2016-03-31 15:45] jonboulle commented on #166
Yeah, I've used that pattern a bunch, but I don't think it buys much :-). IMHO let's just stick to master + tags, until there's a clear need for something more complicated.

[2016-03-31 15:46] zachgersh commented on #166
@jonboulle sounds good. Closing.

[2016-03-31 15:46] #163 closed

[2016-03-31 16:04] onlyjob commented on #166
Sorry for pedantic note but maybe we close this bug _after_ new release is tagged?

[2016-03-31 16:05] jonboulle commented on #166
I agree :P

[2016-03-31 18:06] steveeJ commented on #125
@squaremo any updates on this one?

[2016-04-01 10:17] squaremo commented on #125
Working on it in my spare time :)

[2016-04-01 11:18] jonboulle commented on #125
I suggest punting so we can release a 0.2.0 asap.

[2016-04-01 11:21] squaremo commented on #125
OK, let me put some uncontroversial changes into a PR quickly ..

[2016-04-02 11:05] steveeJ commented on #166
https://github.com/appc/cni/releases/tag/v0.2.0-rc0

[2016-04-02 11:05] #166 closed

[2016-04-02 11:55] onlyjob commented on #166
Stanks, @steveeJ. :) Please remember to tag release as soon as it is ready. :)

[2016-04-02 13:26] steveeJ opened #174 "CONTRIBUTING documentation improvements"
We should cover these in the CONTRIBUTING docs
- [ ] Tests
- [ ] License header for source files

[2016-04-06 10:22] steveeJ commented on #125
@jonboulle

Is https://github.com/appc/cni#contributing-to-cni enough to check that box?

[2016-04-06 11:44] jonboulle commented on #85
Why does config need to be in a separate repo?

I'll see about the aws stuff. Usually we have a preference for gcp. Does concourse run there?

[2016-04-06 13:33] steveeJ commented on #85
Looking at the [concourse S3 resource type](https://github.com/concourse/s3-resource), I assume that it is to store the credentials somewhere safe, is this correct @zachgersh? Putting the credentials in one of the components system would be an alternative, but I couldn't find any support for this.

[2016-04-06 17:52] tomdee commented on #85
What's the reason for using Concourse when travis is already being used? Maybe this is a naive question but I think it would be good to be explicit about it.

[2016-04-07 23:36] zachgersh commented on #85
@tomdee great question - I find that concourse is much easier to debug failures in code versus having to figure out how to reproduce the travis environment you are running in (concourse I just jump into a docker image).

We could totally try this via travis upload directly to github releases. I wouldn't be opposed at all if it gets us to what we want :dancer:

@steveeJ correct, we store that plus

[2016-04-08 12:52] steveeJ opened #179 "{mac,ip}vlan and bridge plugins need tests"

[2016-04-08 12:55] steveeJ commented on #84
Fixed by #177

[2016-04-08 12:55] #84 closed

[2016-04-08 17:27] steveeJ commented on #85
Would it need to be a private repository? Are there alternatives?

[2016-04-08 19:58] zachgersh commented on #85
The pipeline setup (YAML) could be public but the credentials have to go somewhere private.

[2016-04-11 00:55] philips commented on #151
I agree with @lxpollitt. For now I want to focus on CNI being awesome at setting up connectivity for a container and tearing that connectivity down when it dies.

If we are going to start doing policy we need to get a few folks to put a proposal together to define the goals and non-goals. For example, in nearly every non-trivial use case a container is going to need dynamic egress and ingress rule

[2016-04-12 17:52] tomdee commented on #85
@zachgersh What are you anticipating will be in the Concourse pipeline? I see at least three statges to do a release
1. Building static binaries
2. Signing those binaries
3. Publishing them as a Github release.

Given how infrequent releases are, and how sensitive the signing keys are, I'm not sure I see the value in automating steps 2 and 3 as part of a CI pipeline. WDYT?

[2016-04-13 14:06] zachgersh commented on #85
@tomdee - these are the correct stages and with concourse I can automate 2 out of the three. I had imagined we would upload the binaries to an s3 bucket that was controlled by Coreos and someone who had the signing keys could sign them. Once they were signed, they could be placed into a different bucket where concourse would automatically see they were uploaded and push a release to github with sa

[2016-04-13 16:29] tomdee commented on #85
We could 1) as a really small quick change - it's easy to upload to S3 from Travis. Then we would have binaries for every build. @steveeJ could then invoke the normal CoreOS signing process and just manually add the binaries to the release on Github. Given the current release cadence, I think it's better to get something out sooner rather than later.

I'm happy to submit a PR for the travis change

[2016-04-13 17:46] zachgersh commented on #85
@tomdee we totally decided to move this to the 0.3.0 milestone instead for 0.2.0 @steveeJ will manually sign and upload to github.

[2016-04-14 01:32] bprashanth commented on #88
We have CNI up and running in kube and it seems to be mostly fine, no reason to leave this open. Will report back if I get a chance to try and repro, but till then assume this is fixed.

[2016-04-14 01:32] #88 closed

[2016-04-15 19:07] steveeJ commented on #75
@zachgersh @squaremo @jonboulle @philips
awaiting your feedback

[2016-04-18 06:31] rosenhouse opened #183 "Discussion: removing lockThread from WithNetNS?"
## Summary
I believe that we can provide `WithNetNS` and `WithNetNSPath` functions that remove the `lockThread` argument and completely hide from the caller the complexity of goroutine thread affinity. This could let us simplify a lot of our plugin and test code.  I'm opening this issue to gather feedback before I assemble a PR.

## Background
In our network namespace switching package, we provide

[2016-04-18 07:21] rosenhouse commented on #75
FWIW, I like the idea of this as an optional CNI feature, but I'd suggest that when the k/v's are passed back to the plugin on `DEL`, that they also be nested underneath a `data` field.  Otherwise I'd be concerned contaminating the top-level namespace.

[2016-04-18 14:39] squaremo commented on #75
I don't see this as the same situation -- so I don't think that _just because_ host-local happens to put its state on disk, it should be a general mechanism.

I'm not sure I see the need for making this an item of configuration -- is it really up to the operator to decide what kind of backend store is used? Or is it up to the client application?

Usually I'd expect the client to have its own idea

[2016-04-18 17:27] dcbw commented on #183
So the current closures take a pointer to the current host netNS, which this proposal drops.  Maybe that was an oversight?  If so, one issue I see with the current code is that the current netns from the goroutine won't necessarily be the calling thread's namespace that the closure will expect.  ptp.go's setupVeth() still uses that to make sure that the host-side is put in the right namespace.  Th

[2016-04-18 19:33] dcbw commented on #183
@rosenhouse I've implemented the approach you've outlined here in https://github.com/appc/cni/pull/167 in the first commit "ns: make namespaces an interface and add NetNS creation capability", and since I moved the NetNS creation capability into the ns package itself the testhelpers stuff goes away (including the testcases, the unique ones I added to ns_test.go).  Seems to work pretty well.

[2016-04-18 23:39] asridharan opened #184 "flannel plugin should allow setting default routes"
Currently the flannel plugin, when generating config for the `delegate` IPAM seems to be setting only routes to the flannel network. However, it should be setting up a default route as well. Otherwise containers launched using the flannel plugin cannot communicate with anything other than containers within the flannel network.

[2016-04-19 03:14] rosenhouse commented on #183
@dcbw Thanks for the comments, I'm glad you found this useful already for your PR.

Dropping the "host" netNS argument to  `toRun()` was intentional and I should have said so.  Here's why: It always struck me as unnecessarily complex to provide that argument, given that Go supports closures.  The user can just close their callback function over a file handle to the calling namespace if they need i

[2016-04-22 17:50] dcbw commented on #183
That makes sense, and I was originally removing the argument until I found the sole caller(s).  I'll play around and see what I come up with.

[2016-04-28 02:07] mikedanese opened #191 "bridge cni plugin creates containers with no connectivity due to bad arp table"
I'm using the kubenet plugin for kubelet which is creating docker containers with the cni config:
[code]

The containers create, but the container IPs are unreachable from the host and there's no connectivity from inside the container to outside. Further debugging leads to this:

[code]

I'm happy to provide further debugging info but I'm looking for a lead on what to checkout next.

cc @freehan

[2016-04-28 02:47] bprashanth commented on #191
@dcbw

[2016-04-29 15:00] steveeJ commented on #191
The first but probably unrelated thing to note is that `  "addIf": "eth0",` from the configuration is not supported by the bridge plugin that lives in this repository, although it has been raised in #40.

For debugging these things would be useful:
* {ip,eb,arp}tables rules
* `ip a`

[2016-04-29 23:00] freehan opened #194 "host-local ipam should allocate round-robin ips"
host-local ipam tends to allocate ips that are recently used. This sometimes cause unexpected behavior related to arp caching.

If this sounds like a good idea, I will put together a PR.

https://github.com/kubernetes/kubernetes/issues/24953

[2016-05-02 10:00] ltagliamonte commented on #184
+1

[2016-05-02 14:09] asridharan commented on #184
Submitted a PR: https://github.com/appc/cni/pull/185

[2016-05-02 18:13] freehan commented on #194
@dcbw @steveeJ

[2016-05-02 18:30] dcbw commented on #194
Depending on how quickly containers are spawned, won't round-robin still be a problem with ARP caching?  It's certainly possible to cycle through all addresses within the ARP cache timeout.

[2016-05-02 18:53] freehan commented on #194
It is much harder to exhaust the whole cidr range tough. Any alternatives you can think of?

[2016-05-02 18:55] mikedanese commented on #191
Thanks for the help! I think i've figured it out. It turns out it was related to the tc config applied by kubelet and is not an issue with cni.

[2016-05-02 18:55] #191 closed

[2016-05-02 18:56] freehan commented on #194
Maybe sending gratuitous ARP on veth creation?

[2016-05-02 21:40] freehan commented on #194
Another approach can be what docker did. Docker associates the mac address with ip. Meaning the container with the same ip always gets the same mac address.

[2016-05-02 22:49] thockin commented on #194
I think both solutions are right.  Don't reuse IPs unless you need to and if you do reuse them, have a 1:1 IP:MAC relationship.

[2016-05-03 23:03] freehan commented on #194
MAC address manipulation is easier to implement. Round robin ips requires refactoring which people may not like.

Initial testing shows this fixes a bunch of flaky tests for kubenet.

[2016-05-03 23:13] thockin commented on #194
I'm not that sympathetic to "the right thing to do is hard" :)  Maybe we
can not block on it, but it should be done, regardless.

On Tue, May 3, 2016 at 4:03 PM, Minhan Xia <notifications@github.com> wrote:

[2016-05-03 23:22] freehan commented on #194
Will submit a separate PR for round robin ip allocation

[2016-05-04 15:55] steveeJ commented on #89
@rosenhouse @dcbw is one of you willing to start a design document (e.g. on Google Docs) that we use to collect use-cases and their requirements? Having concrete examples will be of great help to decide on and possibly design this feature.

[2016-05-06 18:26] rosenhouse commented on #89
@steveeJ this is timely.  We're beginning to work our our the higher-level UX requirements for container networking on cloudfoundry, and applying dynamic policy changes via some kind of UPDATE or idempotent ADD seems natural.  I should have more to share on use-cases and requirements late next week.

cc: @evanfarrar

[2016-05-11 16:47] steveeJ opened #204 "*: teardown for rebooted machines leaks IP addresses"
Note without a deep investigation but this could be critical, so better safe than sorry.

The ptp and bridge (#18) plugins fail to delete the IPAM allocations in case the teardown happens after the machine has been rebooted. Interfaces and iptables rules will be gone, wheres the IPAM state will remain on disk and never be cleaned due to previous failures.

/cc @iaguis

[2016-05-12 08:54] #204 closed

[2016-05-12 16:50] rosenhouse commented on #89
As requested, [here is a document to collect use-cases](https://docs.google.com/document/d/1HqkEIsJV9ZqTCygo6TK9OKZzEZSPhfDPkmnqshtWAKI/edit) for dynamic configuration (e.g. UPDATE / UPSERT)

[2016-05-12 23:24] yifan-gu commented on #184
cc @pskrzyns

[2016-05-13 07:55] jellonek commented on #184
This should be optional. This can not be arbitrary as proposed in PR.
This looks for me like you are trying to solve one simple situation without looking on this from broader perspective.

Try to understand that using network configured with this plugin + other network using bridge/macvlan/other type with correctly set ipam section - you will have conflicting configuration with 2 default routes.

[2016-05-13 14:16] asridharan commented on #184
@jellonek I completely agree with you, that we shouldn't be setting only the default route but should allow users to setup a route section which should override the IPAM secion in delegate. Wasn't sure how to do this in `flannel` plugin. Will have to investigate further.

[2016-05-16 06:11] luxas commented on #85
@steveeJ Can you comment here which steps you are taking when you're releasing manually?
I'm gonna cross-compile (`arm`, `arm64` and `ppc64le`) CNI for Kubernetes, so it would be really great to know how to build them for amd64 first...

[2016-05-16 09:08] jellonek commented on #184
I'm not sure, but probably @steveeJ will be the right person to ask, how to do this.

[2016-05-16 09:20] pskrzyns commented on #184
its quite important cause without it i can't run rktnetes on bare metal

[2016-05-16 14:36] asridharan commented on #184
This is pretty important for [Mesos](http://mesos.apache.org/) as well.  We just introduced CNI support in Mesos (https://issues.apache.org/jira/secure/Dashboard.jspa). In Mesos, executors (running in containers) need to register back with Agent; without this registration tasks cannot be launched. Flannel seems to be the only plugin which we cannot use out of the box on Mesos due to this limitatio

[2016-05-16 17:26] yifan-gu commented on #184
ping @steveeJ @jonboulle @philips

[2016-05-17 11:15] jonboulle commented on #85
@luxas we've been doing releases with `scripts/release-with-rkt.sh`

[2016-05-17 12:45] steveeJ commented on #184
On a deeper look this is a dupliate of #27 and could be solved by a reworked version of #50.
@asridharan can you confirm that this is potentially helpful?

[2016-05-17 13:03] jellonek commented on #184
As a temporary fix - proposal shown in #50 looks perfectly.

Still, overriding options returned by IPAM (e.x. additional routes) should be possible there.

[2016-05-17 13:23] asridharan commented on #184
#50 does look promising as a stop gap. Will try it out and report back.

[2016-05-17 13:48] steveeJ commented on #184
@asridharan it's not finished and the UX around it was never discussed through. I'd appreciate input on that as this is something that will influence default behavior too.

[2016-05-17 16:25] jellonek commented on #184
Maybe we should add some piece of code checking if there is already set default route and warn user in such situation?
Default route added from multiple plugins (e.x. from default networking + some custom flannel network) still bothers me.

[2016-05-17 18:38] steveeJ opened #208 "plugins/macvlan: failed to set proxy_arp on newly added interface"
Thanks @dcbw for bringing this to my attention via #193.

I've reproduced it locally by simply two shells and cnitool.

shell1
[code]

shell2
[code]

---

- [ ] #193 Bugfix
- [ ] #167 Tests

[2016-05-17 18:52] luxas opened #209 "Make working on arm64 and ppc64le too"
When building for `arm64` or `ppc64le`, it fails with these messages:
[code]
The `ns.go` issue seems easy to fix, but the `golang.org/x/sys/unix` ones seems harder.
We'll need cni for these arches for Kubernetes

[2016-05-17 18:52] luxas commented on #209
cc @pensu

[2016-05-17 19:01] luxas commented on #209
The first one is easy, we just need to create some more files: https://github.com/opencontainers/runc/blob/master/libcontainer/system/setns_linux.go#L13-22

[2016-05-17 19:11] #208 closed

[2016-05-17 19:18] luxas commented on #209
Checked the golang.org/x/sys dependency out and it's really old. Now the package has 155 commits, the vendored version has only 76, so a `godep update` will do

[2016-05-18 18:06] tomdee commented on #184
Just to confirm my understanding of the way that routes can be specified in the network config. The network config can contain a routes list under the ipam dict. This is passed to the IPAM plugin, which includes a routes list in the ip4 and ip6 sections of the IPAM response. The CNI plugin is then responsible for applying those routes.

Maybe the issue here is with the CNI spec - there's no standa

[2016-05-19 10:14] salv-orlando commented on #151
I am also interested in seeing how the CNI interface will allow for shaping container ACLs.
@lxpollitt  and @philips correctly pointed out their dynamic nature - unless the plan is to have a static set of ACLs for the whole container's lifetime.

Unlike the IPAM plugin, which is only invoked from the "main" plugin, in this case could there be a case for a hook for doing "filter refresh" - maybe CN

[2016-05-19 12:01] steveeJ commented on #155
ping @errordeveloper, any plans to work on this still?

[2016-05-19 12:12] steveeJ commented on #209
@luxas please submit a PR with the mentioned `godep update`. In the longterm we might want to include compilation for other architectures in our CI. For this purpose it would be shared the build steps, unless you're building this natively ;-)

[2016-05-19 12:25] squaremo commented on #174
Re tests, the doc mentions making sure they pass, and adding tests as necessary -- is there more you'd like to be said @steveeJ?

[2016-05-19 13:02] steveeJ opened #213 "cnitool: needs documentation and improved functionality"
- [ ] Quality
  - [ ] Argument parsing
  - [ ] Help output
- [ ] Features
  - [ ] Handle multiple networks at once
  - [ ] Create network namespace
- [ ] Docs

[2016-05-19 16:38] #174 closed

[2016-05-19 16:49] rosenhouse commented on #183
This issue is even more complicated than I originally thought in the case of nested calls to the `WithNetNS` function above.  The go runtime may create a new os thread when the goroutine is created, and this thread will inherit the namespace of the parent -- the "switched to" non-original namesapce.  That means that when the inner call tries to restore the "original" netns before returning, it act

[2016-05-19 16:49] #183 closed

[2016-05-19 22:48] freehan opened #215 "Bridge plugin ipMasq should ensure one set of iptable rule"
For bridge plugin, if ipMasq set to true, it will insert a pair of rules into iptables every time ADD operation got invoked. After multiple ADD operation, multiple pairs of identical rules ended up in iptables. For example:

[code]

Since these rules are attached to POSTROUTING, I believe there will be performance impact once it grows too much. Instead, bridge plugin should ensure a pair of rules

[2016-05-20 08:45] steveeJ commented on #184
@jellonek

This is something that has to be dealt with in a composition component, see #147 for a discussion about that.

@yifan-gu @dcbw @jell after #50 is merged you need to add the `isDefaultGateway` in the delegation fields in the flannel plugin configuration like so:

[code]

[2016-05-20 08:49] jellonek commented on #184
/cc @pskrzyns
#50 merge is only a first step. We need version bump and then inclusion of this code in `rkt`. It's a bit slow process :/

[2016-05-20 11:39] steveeJ commented on #215
It should be possible to use a single chain without comments and only add the comments to the rules and have the first and last ADD/DEL create/remove the chain.
However, I think that one rule per network within the chain should still be added for debugging reasons.

[2016-05-20 18:07] freehan commented on #215
SGTM. There is no good way to avoid adding rule per ADD.

[2016-05-20 22:17] #179 closed

[2016-05-20 23:34] #27 closed

[2016-05-20 23:34] #184 closed

[2016-05-20 23:43] steveeJ commented on #7
I just wanted to add notes to the documentation of ipvlan and macvlan, and noticed that both docs already mention that these are not compatible on the same master interface. Best work is done work!

[2016-05-20 23:43] #7 closed

[2016-05-24 14:47] steveeJ opened #220 "plugins: teardown doesn't handle empty netns"
When a plugin is called with a non-existing network namespace, it should still be able to cleanup as much as possible despite throwing an error.

[2016-05-24 15:08] bboreham commented on #220
Did you mean "instead of" or "despite" ?

[2016-05-24 15:28] steveeJ opened #221 "pkg/ns: doesn't ensure that the stored fd is a valid network namespace"
My concern is if we initialize a `ns.NetNS` object using `ns.GetNS(path)` and _path_ points to just an empty file without any network namespace mounted on top, we don't detect that.
We'll eventually throw an error, but that is simply from the attempt to execute `ns.Do()` and `ns.Set()` which will try to switch the network namespace, which will fail.

I suggest that we introduce validation of the f

[2016-05-24 19:53] dcbw commented on #7
@steveeJ I don't think that's quite true; what's not supported is creating an ipvlan off a macvlan interface and vice-versa.  You can certainly create separate macvlan and ipvlan children off the same ethernet master, at least that's my understanding.

[2016-05-24 20:37] luxas commented on #209
I'm cross-compiling, and will send a PR as soon as I have time :)

[2016-05-24 20:58] steveeJ commented on #7
@dcbw

I just verified this again, in case something changed in the kernel since my original findings.

[code]

[2016-05-25 06:54] #221 closed

[2016-05-25 14:38] yangzhares opened #225 "plugin bridge + ipam dhcp guide"
Guys,

Does someone have a guide how to use plugin bridge and ipam dhcp?

[2016-05-25 18:48] steveeJ opened #226 "ns: validation of NS fails on old kernels"
The `ns` package will not work properly on older kernels that don't mount network namespaces with the NSFS. This happens on Semaphore CI today.

This is an example failure message:
[code]

Reproduction of the problem using `ip`
[code]

[2016-05-25 22:04] dcbw commented on #7
Looking at the kernel code again, you are correct and I am wrong.

[2016-05-25 22:04] dcbw commented on #7
[code]

[2016-05-26 11:22] #226 closed

[2016-05-27 11:49] #220 closed

[2016-05-30 06:00] yangzhares opened #232 "failed to get ip when macvlan + dhcp"
guys,

i failed to get ip when macvlan + dhcp, the following are error info:

[code]

dhcp daemon log:

[code]

dhcp server log:

[code]

from dhcp server, seems dhcp server can send response from request, but dhcp dameon can't get.

someone can help on this?

[2016-05-31 11:54] cheld opened #236 "Question: why is the sleep container required"
I am currently studding docker-run.sh script. I am wondering about the purpose of the sleep container. The only reason that comes to my mind is to ensure that the network is setup BEFORE the container starts. Is this correct?

[2016-05-31 11:56] cheld commented on #236
So, in other words, in case the container lives long enough and connectivity is not required from the beginning, then the sleep container is not needed, right?

[2016-06-01 06:09] cheld commented on #236
moved question to mailing list

[2016-06-01 06:09] #236 closed

[2016-06-02 17:39] steveeJ commented on #125
Last bits fixed by #218.

[2016-06-02 17:39] #125 closed

[2016-06-02 18:37] #194 closed

[2016-06-08 09:15] luxas commented on #209
Seems like c0d34c692f03f42b355cd3fe7a4ae28b2b5556eb fixed the SetNsNr issue.
I'm sending a PR now...

[2016-06-08 09:21] luxas commented on #209
#241
I think you can move this to `v0.4.0`

[2016-06-09 08:29] batikanu opened #242 "No Internet Access with Flannel Plugin"
I use ubuntu 14.04 as host os and testing cni flannel plugin. The docker(v.1.11.2) containers which are started with cni flannel plugin don't have internet access whereas they work fine with cni0 bridge on the same host.
I use /run/flannel/subnet.env  as
{
    "name": "mynet",
    "type": "flannel"
}
I would be very pleased if you have working example.

[2016-06-09 17:57] bboreham commented on #242
Is https://github.com/containernetworking/cni/issues/184#issuecomment-220549857 relevant?

[2016-06-10 08:02] salv-orlando opened #244 "Fatal vs Recoverable errors"
The [Error](https://github.com/containernetworking/cni/blob/master/pkg/types/types.go#L113) type provides a good deal of information to consumers.
However, it is left to the caller to understand whether the error is recoverable or not. As this could depend on the networking backend the CNI plugin integrates with, understanding whether the error is recoverable might be challenging.

For instance, y

[2016-06-10 22:02] dcbw opened #245 "Figuring out IPv6 support"
There are a number of considerations:
1. **dual-stack configuration:** @steveeJ has said in https://github.com/containernetworking/cni/pull/235#discussion_r65347418 (and I agree) that a CNI plugin should be able to both accept IPv4-only, IPv6-only, and IPv4/IPv6 IPAM configuration.  This requires a spec change because there is currently only one `ipam` section.  @achanda has done some of the work

[2016-06-10 22:05] dcbw commented on #245
cc @rosenhouse @squaremo @tomdee

[2016-06-10 22:16] achanda commented on #245
Thanks for the summary @dcbw . I can re-work my PR once we have a decision.

[2016-06-14 01:31] steveeJ commented on #242
Thanks for the pointer @bboreham, I think this is exactly what @batikanu needs. I'll leave this open for a couple days to await feedback!

[2016-06-16 12:55] cheld opened #250 "flannel plugin not working with kubernetes"
Problem:

The kubernetes service IPs (10.0.x.x) are not reachable from inside of the container

Steps to reproduce:
- build kubernetes and hyperkube with latest patches
- run hyperkube with cni network plugin
[code]
- run container that contains curl, e.g.
[code]
url: (7) Couldn't connect to server

Comment:

° The command `curl -k -u admin:admin https://10.0.0.1 ` works on the host. So, iptables

[2016-06-16 14:10] feiskyer opened #251 "Proposal: Support hypervisor container runtime for CNI"
## Overview

CNI is designed to provide a generic plugin-based networking solution for application containers on Linux. There are many container runtime implementations today. To isolate container networking from host, some of them are based on linux network namespace (e.g., [docker](http://github.com/docker/docker), [rkt](https://github.com/coreos/rkt) without lkvm), while others are based on hyp

[2016-06-16 17:05] steveeJ commented on #251
@feiskyer
Thank you for this nice proposal. I'd like to collect feedback from @jellonek and @pskrzyns.

[2016-06-16 17:43] steveeJ commented on #250
/cc @tomdee

[2016-06-16 19:40] tomdee commented on #250
Hi @cheld Do you think this is a regression? Have you had it working previously? How are you configuring flannel, e.g. which backend are you using? Is this just an issue contacting service IPs? Can you contact podIPs that are on different hosts?

[2016-06-17 06:53] zreigz commented on #250
I have been testing it with centos 7. I have created script to set up entire environment.
Prerequisites:
1 create directories:
[code]
2 copy plugins to ` /opt/cni/bin`

3 create configuration
`vi /etc/cni/net.d/10-containernet.conf`

and enter
[code]

and run this script with your MASTER_IP variable

[code]

[2016-06-17 09:09] cheld commented on #250
Hi @tomdee, thanks for input.

1) Regression: I think it is not a regression. There have been a few issues related to cni plugin that have just been merged. See also comment https://github.com/kubernetes/kube-deploy/pull/69#issuecomment-226689759

2) Setup: similar to what zreigz described. Default backend of flannel is used (udp). Only one node

3) Connectivity:  I just did one additional test:

[2016-06-17 12:22] cheld commented on #250
Ok got it. :))

In first case, I have compiled the cni binaries from master.
In second case (hyperkube) I used the CNI binaries that are packed into the container, which is some release of CNI (c864f0e1ea73719b8f4582402b0847064f9883b0). After upgrading the binaries in the container everthing works.

[2016-06-17 12:22] #250 closed

[2016-06-17 15:27] pskrzyns commented on #251
cc @lukasredynk @jjlakis

[2016-06-19 13:28] murat1985 opened #252 "Proposal of BaGPipe BGP cni plugin"
I wrote a plugin using your libraries to talk to [BaGPipe BGP](https://github.com/Orange-OpenSource/bagpipe-bgp) daemon. That allows to leverage container networking using VXLAN and BGP.

I am wondering do you accept new plugins? I wrote it pretty much using bridge plugin code.

https://github.com/murat1985/bagpipe-cni

Thank you

[2016-06-21 01:15] gao-feng commented on #251
Who will do the job that attach tap device to vm?

[2016-06-21 01:31] feiskyer commented on #251
@gao-feng CNI doesn't care the hypervisor implementation details, it just know the runtime is hypervisor-based and wants a tap device instead of veth pair. Container runtime should attach this tap device to hypervisor.

[2016-06-21 09:41] JulienBalestra opened #253 "Debian based for rkt and ipam: dhcp"
Hi everyone,

I plan to use rkt over Debian and I'm face to an issue.
I'd like to use external already existing DHCP service for the rkt containers.
So I follow the documentation and I write the config file

[code]

I also have the dhcp's cni program running: `./dhcp daemon `
Process running `root      6157     1  0 Jun20 ?        00:00:00 ./dhcp daemon` with the associate socket:
[code]

And now

[2016-06-21 09:56] JulienBalestra commented on #253
Missing the rkt version: 1.6.0

[2016-06-21 14:56] JulienBalestra commented on #253
Fixed by rkt 1.8.0.

[2016-06-21 14:56] #253 closed

[2016-06-22 15:03] rosenhouse commented on #242
It's been more than a couple days, closing!

[2016-06-22 15:03] #242 closed

[2016-06-23 04:29] achanda commented on #245
@dcbw @steveeJ was wondering if it would make sense to get on a google hangout to decide this?

[2016-06-23 14:03] vixns opened #256 "host-local and large subnets"
with a range larger than /24, eg :
[code]

host-local allocate bad ips, eg 10.1.2.255 or 10.1.3.0

[2016-06-23 15:35] bboreham commented on #256
Those addresses are "bad" in a /24 network, but perfectly fine in a /16.

[2016-06-23 15:55] dcbw commented on #256
Yeah, true.  @vixns what problems is this causing in your network?

[2016-06-23 17:01] vixns commented on #256
@bboreham you're right, i had some /23 from previous tests on several nodes. I've cleaned up to only have a global /16, seems far better.
@dcbw i'm using the network/cni mesos isolator, a bridge+host-local on each node, connected over a private lan over a vlan.

This pr is not needed, i'm closing it, thanks for your time and sorry for the noise.

[2016-06-23 17:01] #256 closed

[2016-06-23 21:02] steveeJ commented on #151
@salv-orlando

This is one of the use-cases for the UPDATE command we've been discussing in #89.

[2016-06-24 18:43] steveeJ commented on #151
@salv-orlando

This is one of the use-cases for the UPDATE command we've been discussing in #89.

[2016-06-26 05:09] ibuildthecloud opened #258 "Clarification around multiple files in the cni conf folder"
I'm looking at three reference points to try to determine the correct behavior of multiple files in `/etc/cni/net.d`.  According to [the spec](https://github.com/containernetworking/cni/blob/b8e92ed030588120f9fda47dd359e17a3234142d/SPEC.md#general-considerations) the runtime should choose and execute multiple plugins but how it chooses them is a bit fuzzy.
1. `./scripts/*` just runs all plugins fo

[2016-06-27 14:03] rosenhouse commented on #258
I may be mistaken, but I believe that behavior is intentionally outside the
scope of the CNI spec.  Runtimes are free to do whatever they like.

On Saturday, June 25, 2016, Darren Shepherd <notifications@github.com>
wrote:

[2016-06-27 14:11] dcbw commented on #258
k8s behavior is somewhat under-intentional right now (eg, we didn't have clarity around how multiple networks work and how they would be selected in the k8s world) but there are active, slow discussions happening in the Net SIG around that.  More discussion is needed here all around, not just in k8s I think.

[2016-06-29 23:15] steveeJ commented on #74
This is my general understanding too, and the CNI plugins are no exception.

Agreed.

[2016-06-29 23:15] #74 closed

[2016-06-29 23:16] steveeJ opened #260 "ptp: no functional tests"
The `ptp` main plugin doesn't have any functional tests. This is fairly easy to do was the bridge or macvlan tests can be used as a template.

@tomdee want to give this a try?

[2016-06-30 09:23] bboreham opened #262 "After changing namespace, other goroutines may switch to that namespace"
In this repo you have `NetNS.Do`, but it is only called when you need a "specific namespace".  Turns out you also need to call it when you need the root namespace.

See discussion at https://github.com/vishvananda/netns/issues/17,  details at https://github.com/docker/libnetwork/issues/1113 or https://github.com/weaveworks/weave/issues/2388#issuecomment-228365069

The problem is that the Go runtim

[2016-07-01 07:06] feiskyer commented on #260
@steveeJ Can I take this?

[2016-07-01 07:06] feiskyer commented on #251
ping @steveeJ

[2016-07-02 02:01] rosenhouse commented on #262
Yes, thanks for bringing this up.  We've struggled with this issue for a while now (e.g. https://github.com/containernetworking/cni/issues/183).

A `reexec` pattern (like docker) can work, though its not exactly elegant.  Other process-level granularity would be good.  I know on some other projects that are otherwise Go-based, they still use a small C process to do the namespace switching.

It mig

[2016-07-02 10:42] bboreham commented on #262
My apologies: I thought I had read through #183 and found it was a different issue, hence I filed a new one.  But I see that your comment does make the exact point.

I have come up with roughly the same rules, but they are probably unachievable in any nontrivial program, considering they must apply to all libraries called. Nonetheless, short of a fix in the Go runtime, loudly announcing them may b

[2016-07-05 17:23] tomdee commented on #260
@feiskyer Yes, please do :smile:

[2016-07-08 12:51] lukasredynk commented on #251
I've looked into #145 and it looks a bit heavy in terms of changes to interface, adding env like "CNI_VIRT" and returning tap index shouldn't be sufficient?

[2016-07-08 14:07] feiskyer commented on #251
@lukasredynk Adding a env may work, but not so explicit. All current cni plugins are supposed to be netns-based, it needs to know the runtime is hypervisor explicitly.

Just returning tap index is not enough because we don't expect every plugin interacting with hypervisor directly. Instead, cni returns the created tap device and related ip address/mask/gateway/dns back to runtime, and let runtime

[2016-07-08 14:43] lukasredynk commented on #251
Sorry, I wasn't precise, yes, I agree. The scheme I'm thinking of:
1. Set CNI_VIRT (optional)
2. Run plugin (from plugins/main)
3. Plugin checks if CNI_VIRT set
- CNI_VIRT not set: no changes in flow
- CNI_VIRT set: creates tap instead of veth
4. Plugin executes IPAM plugin (and passes CNI_VIRT if set)
- CNI_VIRT not set: no changes in flow
- CNI_VIRT set: only reserves IP and returns information

[2016-07-10 17:57] Andrei-Pozolotin opened #265 "RFE: provide bash based cni plugin reference implementation"
1) since "it takes forever" to incorporate new features and options into existing `rkt/cni` network plugins, we suggest to include into `cni` distribution a bash based cni plugin reference implementation, so people can start experimenting on their own faster

2) for example, here is a bridge+dhcp plugin
https://gist.github.com/Andrei-Pozolotin/6bc4f2caa18700cdd94d910e588a555c
with support for addi

[2016-07-11 14:13] rosenhouse opened #266 "Versioning!"
I'm opening this issue so we can track and discuss work on versioning as first discussed at the [CNI meeting on 2016-06-29](https://docs.google.com/document/d/1_FDwd1QuFRxT_f40Wq4L6Q2jL2jqIDOoVhNBB26TViE/edit#heading=h.h0y3jbyyk1iw).  This is in part to address current confusion over versioning (e.g. https://github.com/containernetworking/cni/issues/150).

I will update this issue as we make progr

[2016-07-12 23:34] Andrei-Pozolotin opened #268 "RFE: dhcp plugin: support dhcp options via cni_args"
dhcp options in general:
https://en.wikipedia.org/wiki/Dynamic_Host_Configuration_Protocol#DHCP_options

dhcp option 81 in particular:
https://tools.ietf.org/html/rfc4702#page-4
https://github.com/containernetworking/cni/issues/265

[2016-07-13 11:31] feiskyer commented on #251
@lukasredynk A new environment variable (e.g. `CNI_VIRT`) is indeed required, but only this one environment variable is not enough:

* A lot of external cni plugins are using libcni, which should of course need to know whether the runtime is based on hypervisor
* `invoke.Args` and `CmdArgs` also needs to know whether or not the runtime is based on hypervisor

BTW, I'm not satisfied with `IsHypervi

[2016-07-13 13:12] lukasredynk commented on #251
I've started work on code I could show to move discussion further, but for now I've added to `pkg/skel/skel.go` `"CNI_VIRT"` to list of env variables put into `CmdArgs`. First I was thinking about providing basic implementation-proposal of ptp and bridge plugins, but I'm still working on it, it looks like netlink lib version should be bumped, because the version used doesn't support creating tun/t

[2016-07-13 13:29] jellonek commented on #251
@feiskyer to use tap devices you don't have to use virtualization so IMO instead of `Virtualized` we shoud use `UsesTapDevice`.

[2016-07-13 23:12] feiskyer commented on #251
@lukasredynk @jellonek Thanks. Updated proposal to `UsesTapDevice` instead of `IsHypervisor`.

[2016-07-14 20:32] #260 closed

[2016-07-20 15:24] lukasredynk commented on #251
*Very* early and *very* WIP branch with creating and configuring tap device for ptp plugin: https://github.com/lukasredynk/cni/pull/1/files Most of changes here are related to updating netlink library (version from vendor can't handle tap devs).

[2016-07-20 23:40] feiskyer commented on #251
@lukasredynk Change virt to UsesTapDevice and file a PR?

[2016-07-21 15:57] lukasredynk commented on #251
@feiskyer Ok, it's here: https://github.com/containernetworking/cni/pull/271

I've tested this with rkt-kvm and it's working, at least for default-restricted network.

[2016-07-26 10:52] lukasredynk commented on #251
RFC: how should the interface be named? I think it should be different from "veth*" to not mix different device types, maybe "tap*", where "*" is suffix generated the same way as is for veth-type interfaces. What do you think about it?

[2016-07-26 12:09] feiskyer commented on #251
@lukasredynk Agree on `tap*`.

[2016-07-26 14:52] lukasredynk commented on #251
I've updated PR:
- changed CNI_VIRT to CNI_USE_TAP
- added codepaths to libcni
- refactored tap creation

Only thing missing here is merging pending PR in netlink repo.

[2016-08-01 12:52] jellonek opened #275 "Proposal: use of combined binary (busybox like)."
As in subject and as I mentioned on irc channel - busybox like or [hyperkube](https://github.com/kubernetes/kubernetes/tree/master/cmd/hyperkube) like approach could reduce size of our distributed files. At the moment `cni` binaries used in `rkt` weight ~40M what could be probably nicely reduced - impacting whole `stage1.aci` size - and this could have an impact on download/unpack time.

In additi

[2016-08-01 17:37] thockin commented on #251
I hate to be contrarian, but this seems like a wrong turn, to me.  Not all CNI plugins are going to use veth.  This feels like it is taking inside information and putting it on the outside.  You are now making every network plugin responsible for understanding tap devices?

Why can't this be done ENTIRELY inside a CNI plugin?   Do we need some affordance in the CNI API to give a clue to the plugin

[2016-08-01 17:44] asridharan commented on #46
Do we have any further insights/discussions on this particular topic? This pretty important from the perspective of orchestration engines such as Mesos since an answer to this question would indicate whether we need to incorporate port mapping as an implementation into the container runt time or use interfaces to pass this information to the plugin.

Ideally we would like this responsibility to be

[2016-08-01 18:06] asridharan opened #276 "Documentation on "delegate""
I see the "delegate" construct being used in the `flannel` plugin, but couldn't find any documentation on the "delegate" construct in the CNI spec? I think this is a pretty useful functionality and would be great to document how plugins are supposed to use this construct, and how operators can specify them in their CNI spec.

[2016-08-01 18:41] rosenhouse commented on #46
Your analysis makes sense.  When this has been discussed in the past, the conversation has gone from "port mapping" to "iptables in general" to "dynamic filter rules" to "maybe CNI needs some kind of dynamic UPDATE like action".

There's certainly nothing stopping you from building a plugin that sets up port mappings, given some particular NetConf representation of the desired mappings.

I'd quest

[2016-08-01 18:48] asridharan commented on #46
@rosenhouse is there a way for operators to specify serialization of plugins in the CNI config? Didn't see any documentation on this?

I am referring to your comment about "container runtime invoking multiple plugins". Currently Mesos doesn't do this. So wondering if this actually a thing?

[2016-08-01 19:29] rosenhouse commented on #46
I'm not sure it is formally specified, but runtimes may use `libcni.ConfFiles` which loads plugin configuration from disk [sorted by filename](https://golang.org/pkg/io/ioutil/#ReadDir).  For example, an operator may put configuration files `10_loopback.conf`, `20_bridge.conf` and `30_port_forward.conf` all in the same configuration directory with the expectation that a runtime will execute the re

[2016-08-01 19:59] akashgangil commented on #244
@dcbw

[2016-08-01 21:07] asridharan commented on #46
I like the idea of the operator being able to specify plugin chains to build more complex CNI configurations. However, not sure why we need the plugins to be aware of the causality of invocation of the plugins, i.e., if we can standardize the JSON to create the causality of invocation the plugins themselves can act independently without knowing where the inputs have originated.

[2016-08-01 21:13] rosenhouse commented on #46
That's a good point.  I like the idea of the plugin being simpler, and the complexity of configuration being the responsibility of the container runtime + CNI library.

You could do all of this today using existing features of CNI, but it would be nice to add some helper functions to the library.

[2016-08-01 22:21] asridharan commented on #46
@rosenhouse let me backtrack a little. I think I see your point of having the `PrevResult` field standardized in `NetConf`. Had a discussion with @jieyu on how we would support port mapping in a container run time engine such as Mesos and one thing that did pop up was that the JSON to the chained plugin would require information that might be "dependent" on results from invocation of the previous

[2016-08-01 23:17] dcbw commented on #46
@rosenhouse @asridharan I'd also like to see this become more flexible with CNI, but in the opposite way: I want kubernetes to still handle this via the current hostport code, but in a selectable manner on a per-plugin basis... anyway, perhaps that's not actually relevant to this discussion.

What's probably more relevant are some of the problem associated with port mapping.

1. the mapping should

[2016-08-02 01:31] feiskyer commented on #251
Yes, this proposal will make every cni plugin responsible for understanding tap devices. It makes sense because CNI is a general network interface for all containers (if I'm not wrong), including hypervisor-based runtimes.

It could, but the plugin is not general any more. In general, all network plugins should work for all runtimes which support CNI.

[2016-08-02 04:33] thockin commented on #251
I think this is a really dubious starting position.  You can not reasonably
expect all container vendors to support this.

Does someone have a diagram or a thorough explanation of the networking
setup for hypervized runtimes?  I'd like to see an example of how the
devices chain together, and how the IP routing is configured.

On Mon, Aug 1, 2016 at 6:32 PM, Pengfei Ni <notifications@github.com> wr

[2016-08-02 08:05] lukasredynk commented on #251
Following @jellonek's advice I've prepared PR (https://github.com/containernetworking/cni/pull/274) with updated netlink (which includes my changes) and after merging it I'll rebase original PR with PTP plugin.

@thockin CNI plugin can't setup network inside VM because it's always run on the host machine. It's not a problem for containers based on systemd-nspawn to setup networking before spawning

[2016-08-02 12:53] bboreham commented on #46
This would not be my expectation at all.  I would expect at some point platforms (e.g. Kubernetes) will allow the administrator to assign different networks to containers, by naming different CNI config files.

[2016-08-02 15:08] asridharan commented on #46
@bboreham your point is valid. In fact in Mesos as well we support "named" CNI networks, and expect a config to be a representation of a single CNI network.
http://mesos.apache.org/documentation/latest/cni/

Should have added to my earlier comments. The proposal we have for invoking plugins in a chain is to allow a CNI config with the following JSON schema:
[code]
The expectation from the containe

[2016-08-02 15:48] asridharan commented on #46
@dcbw just commenting on your points:

Serializing the plugins should take care of this, since they would be invoked during container creatino and network setup.

the port manager needs to ensure garbage collection happens for containers that are no longer running, even if network teardown doesn't happen. Yes, this should happen already in kubelet, but do to various codepaths it may not always be

[2016-08-02 16:43] thockin commented on #46
Another thing to keep in mind when it comes to hostports:  If you use iptables to do the port-forward, the kernels does not prevent a process from opening that port and listen()ing.  This is pretty bad, IMO, since it will never work, but the app/developer can't know that.  Worse, someone could ask for a HostPort that is in use by another app and hijack it.

In kubernetes we open the port and hold

[2016-08-02 17:12] asridharan commented on #46
By the way @rosenhouse I realized that while our proposal for chaining CNI plugins is specifically in the context of port mapping, it can have a broader impact, E.g. setting up external load balancers, inserting DNS entries for containers (CNI args).  Would be really great if we can get some feedback on this from the maintainers.

[2016-08-02 17:22] jellonek commented on #251
To be honest - not all plugins (`ipvlan` is not supported). Still moving this code from `rkt` into `cni` solves two things - firstly code duplication on mentioned projects and in second place - provides same functionality to other VM based runtimes like HyperKube or vocker.

[2016-08-02 23:40] steveeJ commented on #276
@asridharan

The delegate field is an implementation detail of the flannel plugin. Plugins are free to declare any fields that are not used within the specification. I can see the point of the delegate-
pattern as a generic way to do such things, but for now it is beyond the specification's scope. One of the other @containernetworking/cni-maintainers might have additional $0.02 on this topic.

Tha

[2016-08-02 23:43] asridharan commented on #276
Thanks @steveeJ
I think it can do with a little bit more documentation (maybe highlight that it is specific to flannel). I was under the impression that the delegate is something more generic to the CNI spec. Also, I guess going through the documentation and using it people can figure out the various backend plugins that you can invoke through `delegate`, but making that more explicit would help a

[2016-08-03 06:48] thockin commented on #251
To be clear - I get why this is better for hypervized runtimes.  I am more
concerned about the ugliness of the API and the idea that existing drivers
should implement both modes.  It just feels wrong.  The factoring doesn't
smell right to me.

If I have a CNI plugin that handles OVS - can I link a tap device into my
OVS?

Can I use a tap device on Calico?  Weave?  Contiv?

Why is this better than

[2016-08-03 06:51] thockin commented on #46
This does not offer a way to hold the port open to prevent other apps from using it, as far as I can tell.  You need a long-lived process for that.  Likewise it is unfortunate if multiple plugins (all of them?) end up implementing port-forwards.  It's actually a little tricky to get all the corner cases right.

[2016-08-03 11:28] feiskyer commented on #251
@thockin Creating tap is opt-in. Existing drivers could choose to only support netns-based containers as is today. Could you explain why it is ugliness?

Of course could. Only with a minor change: when connecting to the container, create a tap device instead of veth pair.

This is also yes if Calico/Weave/Contiv add support of tap devices.

Let me think some

* Reduce code duplication
    * one bi

[2016-08-03 11:38] lukasredynk commented on #251
And *only* plugins affected by this changeset are:
- ptp
- bridge
- macvlan
- flannel (because internally wraps bridge plugin)

And those are from main CNI repository. If external plugins would want to support creating tap they could, but this isn't mandatory. AFAIK Calico uses only ipam for IP management (manages veth's by itself), I'm not sure about Weave but after quick look into their document

[2016-08-03 16:10] asridharan commented on #46
@thockin but the reservation of the port should not be the responsibility of the plugin . As with most CNI plugins, plugins themselves should be stateless. The proposal isn't intended to solve the port reservation problem. In case of Kubernetes it should dealt with "in" Kubernetes and the same goes for Mesos or any other orchestration engine.

[2016-08-03 16:35] jellonek commented on #275
PTAL

[2016-08-03 17:02] thockin commented on #251
On Wed, Aug 3, 2016 at 4:28 AM, Pengfei Ni <notifications@github.com> wrote:

You're taking a detail - the specific type of network device - and
making it part of the API.  Once you support this, you have no grounds
on which to reject the next different idea, and your APi devolves into
a mess of conditionals and optional-if fields.  There's elegance and
simplicity to opaqueness.  This doesn't feel

[2016-08-03 17:13] jellonek commented on #251
Also user could have same configuration for different runtimes.

[2016-08-03 17:45] rosenhouse commented on #251
Not to pile on too much, but I would also ask how we plan to test this hypervisor support in our CI system?  Travis lets us create netns and execute plugins in those netns.  Is there a CI environment we could use to exercise the hypervisor code paths?

[2016-08-03 20:11] eyakubovich commented on #275
Is there any Golang tooling to produce busybox like binary out of individual projects each having a `main` or does it require code change?

[2016-08-03 20:17] sgotti commented on #275
@eyakubovich not sure about a tool but in rkt (also used by acbuild) we have github.com/coreos/rkt/tree/master/pkg/multicall for doing this. It was born to call rkt from rkt with another main function for doing chrooted extraction but its basic function is to register a function based on the provided process arg[0].

[2016-08-03 20:29] eyakubovich commented on #151
The point of having CNI is to allow for implementation choice of an abstract action: to be able to choose _how_ to connect to a particular network (network being a set of endpoints being able to talk to each other). A CNI plugin is not meant to run some _random_ piece of code, even if it is networking related.

The OP proposes to add machinery to install iptable rules. I agree that this might be u

[2016-08-03 20:40] jellonek commented on #275
I don't know if there is such tool, but kubernetes shown that this could be done with quite little effort.

@sgotti - it's also interesting in scope of similar "joining" binaries in `rkt` mentioned by me on irc, i mean - `gc`, `init`, `stop`, in kvm flavor also `enter_kvm`.

[2016-08-03 22:26] philips commented on #151
+1, I don't think we should be doing firewall configuration here. And I
agree the tuning plugin seems strange too. I think this issue should be
closed.

On Wed, Aug 3, 2016 at 1:29 PM Eugene Yakubovich <notifications@github.com>
wrote:

[2016-08-04 06:34] feiskyer commented on #251
@steveeJ @dcbw What's your opinions about this?

[2016-08-04 12:08] wulibin163 opened #278 "IP can't be recycled"
if a container exit abnormal , ip can not be recycled

[2016-08-04 19:52] philips commented on #278
Can you provide more information and ideally a test case?

[2016-08-05 01:30] eyakubovich commented on #275
I was wondering if it's possible not to change code and have this be a packaging issue and not CNI proper.

[2016-08-05 16:50] dcbw commented on #275
Yeah, this is a tooling issue (because Go) and it would be nice not to have to work around Go's love of static compilation in CNI code.  That may not be possible, but having to re-architect a project because the toolchain is quite sub-optimal for some cases is kinda icky.

[2016-08-05 16:57] dcbw commented on #278
@wulibin163 if the container exits abnormally, the runtime controlling CNI ADD/DEL is expected to call DEL to ensure the IP configuration the container used is released.  I seem to recall there were fixes recently for some missing cleanups though, like #230 and #205

[2016-08-08 08:45] jellonek commented on #275
Yeah, I also think that this would require too much odd interference in shape of plugins, so after considering a bit about this - I'm closing this issue.

Maybe later we could come back to this idea, in time of architectural rethinking of project.

[2016-08-08 08:45] #275 closed

[2016-08-09 19:35] dshulyak opened #281 "How to find out ip address after it was assigned to a link?"
I am trying to understand who's responsibility is to store ip address after it was returned by cni ADD command. In kubernetes assigned ip needs to be known for multiple purposes and thus we need either:
1. store in database
   But what if assigned ip address is not static? With dhcp plugin it is certainly wont be
2. use other tools to query container namespace (in my case docker/rkt/nsenter)
   ad

[2016-08-09 21:27] jellonek commented on #281
CNI plugin which is responsible for creating NS/veth/tap/interfaces returns information about interface and it's mac address.
AFAIR now there is no other way to verify which address is connected with that mac address other than arp query, because of mentioned possible dynamic change of values returned by plugin performing ADD command - which returns values from IPAM, which could be in meanwhile ad

[2016-08-10 11:22] dshulyak commented on #281
will it make sense to extend cni commands with GET that will have same input/output as ADD?
cc @steveeJ

[2016-08-12 19:43] caseydavenport commented on #46
My general approach to thinking about this has been the port-mappings on the host are outside responsibility of CNI.  However, it seems like a pragmatic solution to add this to CNI given it's something that is a common requirement across orchestrators.

I see two parts - the reservation of the port and the implementation of the actual port mapping (via iptables, whatever).

As others said above, t

[2016-08-12 20:04] #155 closed

[2016-08-12 22:40] freehan commented on #281
Yeah. Something like a STATUS command would be great.

[2016-08-16 09:45] bboreham commented on #266
I'd like to suggest that failure to handle the VERSION command shall be interpreted the same as returning "0.1.0", so that older plugins do not become immediately useless.

[2016-08-16 13:34] squaremo commented on #266
I don't think including `cniVersion` in responses is obviated by the version command, or at least it shouldn't be. But it _should_ be obviated by plugins behaving correctly with respect to versioning, that is

 * refusing to service a request of a version that the plugin doesn't support
 * returning a response of the same version as the request

[2016-08-16 13:37] bboreham commented on #266
ok, that's a better analysis.

[2016-08-17 08:12] squaremo commented on #266
My jumble of change. Summary:

 * A server must refuse to process requests for a newer protocol than it
knows. Otherwise, the client will get unexpected results.
 * A server must validate the version of the request before it does
anything else. That's to make sure it responds with the correct error
if it cannot serve the version requested -- otherwise it might crash
on getting an unexpected input,

[2016-08-17 14:00] bboreham opened #284 "Proposal: run CNI plugins as containers"
## Overview

Current uses of CNI expect the plugin to be runnable as a process from a path on the host, e.g. `/opt/cni/bin/myplugin`.

However some recent OS platforms, e.g. CoreOS or Google Container-VM, discourage installing software in the filesystem, and prefer that everything be installed as a container.

To resolve this, it should be possible to run CNI plugins as containers.

This proposal

[2016-08-17 14:46] rosenhouse commented on #284
Interesting.   If I'm understanding correctly, the container runtime would always need to bind mount the netns of the target container, then volume mount that location into the container running the CNI plugin, so that the CNI executable is able to find that netns.  Or am I missing something?

I recognize that wouldn't be part of the CNI library, just trying to understand how it would all work.

[2016-08-17 14:59] bboreham commented on #284
It could just run the container in the root namespace. In Docker terms, run with `--net=host`

Maybe also `--pid=host`

[2016-08-17 15:10] rosenhouse commented on #284
Oh, right.  --pid=host would at least cover the runC case that I'm familiar with.  Thanks.

[2016-08-17 16:37] dcbw commented on #266
@rosenhouse we also agreed IIRC that plugins should return a response according to the version of configuration they were given, right?  eg if your plugin supports [ 0.1.0, 0.2.0, 0.3.0 ] then your plugin needs to be able to return a response according to any of those API versions.  This implies that the incoming configuration needs a "cniVersion" field so the plugin knows what API version to retu

[2016-08-17 16:38] dcbw commented on #266
Another aspect of this is sub-plugins, like the IPAM plugins that core plugins call.  We obviously expect the core plugins to now call VERSION on the sub-plugins and do some basic validation to ensure that the incoming config is compatible with the version list the sub-plugin returns.  But that's not reflected anywhere in delegate.go/exec.go yet, so that code needs to be written.

[2016-08-18 18:34] freehan opened #285 "CNI bridge plugin should set the bridge MAC address explicitly"
Bridges where the MAC is not explicitly set will adopt the lowest MAC address of the attached veths. This means that when you rollout a new container with a veth lower than all those currently existing, it will change the MAC address of cbr0, and delete all of the existing connection tracking entries for flows that used the old MAC address.

ref: https://github.com/kubernetes/kubernetes/issues/307

[2016-08-18 21:03] dcbw commented on #284
Sounds more-or-less reasonable.  Implementation is going to be the interesting part.

But I'm not sure I agree there is no impact on the spec.  If we allow CNI plugins to execute sub-plugins (like IPAM plugins) that are not packaged in the container, we'd need to make CNI smarter about how to run plugins and pass in some helper that knows how to execute the sub-plugin.  And so-on, since the sub-pl

[2016-08-19 07:40] squaremo commented on #284
This puts me in mind of the discussion around composing plugins, which has been on the back burner for a while. One option there is to use a trampoline to call plugins sequentially, instead of nesting them. I.e., if the state is threaded through plugins, rather than needing them to delegate to other plugins themselves, they can simply return control to the library, which can in turn ask the applic

[2016-08-22 02:56] asridharan opened #286 "Specify which environment variables are required and which are optional."
Currently the CNI SPEC lists the environment variables that can be read by the CNI plugins but does not specify which of these variables are required and which of them are optional. For e.g., it is implicit that the CNI_ARGS field is optional, and it has been mentioned that the CNI_CONTAINERID can be optional, however the status of CNI_IFNAME is not clear.

As with the JSON config it would be grea

[2016-08-22 07:08] rosenhouse commented on #266
Thanks to everyone for the feedback so far.  I've opened #287 with the next small step in this effort.

[2016-08-24 23:01] asridharan opened #288 "CNI bridge plugin fails to read a bind mounted network namespace in CentOS 7"
We are running Mesos on a CentOS7 with Kernel 3.10

The following check:
https://github.com/containernetworking/cni/blob/master/pkg/ns/ns.go#L104

seems to trip the CNI plugin. The `getNS` call expects a network namespace as a directory `ns/` while in Mesos we bind mount the process network namespace to a file.

The plugins works fine on distros such as CoreOS and Ubuntu 14.04 which have a higher

[2016-08-25 01:55] huxos opened #289 "how to disable ipv6 in ipvlan interfaces"
i added the tuning config to disable ipv6 but it dosn't work.

[code]

there are some error like this:

Aug 25 09:39:20 l-010000106062-docker kubelet[27870]: E0825 09:39:20.192762   27870 docker_manager.go:345] NetworkPlugin cni failed on the status hook for pod 'passportweb-147208913
Aug 25 09:39:20 l-010000106062-docker kubelet[27870]:  with error: exit status 1
Aug 25 09:39:20 l-010000106062-do

[2016-08-25 18:24] jieyu commented on #288
I suggest we completely remove this check. As @asridharan pointed out in the PR, namespace handles can be bind mounted. Container runtime might choose to do the bind mount to keep the namespace open. This is a very common practice.

[2016-08-29 08:39] squeed commented on #251
Hm.

Rather than complecting the 'ADD' command to have two fairly divergent semantics, what about adding an additional command to the spec? Something like 'CONFIGURE', which passes an already-initialized interface (say, a tap created by the hypervisor) to be configured by a CNI plugin?

[2016-08-29 09:29] jellonek commented on #251
This would require that hypervisor should be running before CNI plugin is called (and is exactly quite similar to how current implementation of kvm flavored rkt is doing).

With current proposal (and initial implementation in #271) you can run for example from kubernetes network preparation process and then pass results to any hypervisor based runtime (this could be kvm flavored [rkt](https://gith

[2016-08-31 23:19] #288 closed

[2016-09-06 21:24] rosenhouse commented on #266
@dcbw brought up an interesting point in https://github.com/containernetworking/cni/pull/287#discussion_r77420159 that I'd like to bump up to this higher-level conversation.  To paraphrase: **what relationship, if any, should the version of the CNI spec have to our [git tags](https://github.com/containernetworking/cni/tags) and [github releases](https://github.com/containernetworking/cni/releases)

[2016-09-06 21:40] rosenhouse commented on #266
One other issue to consider (which motivated this topic): can & should the spec version change multiple times between github releases?

Put another way: does every spec-changing PR need to include a spec version bump?  Or can the 2nd and 3rd PRs on a fresh spec version get away without bumping the version?

[2016-09-08 03:02] huxos opened #297 "how tuning pulgin working with other plugins"
RT.

[2016-09-08 19:22] philips commented on #297
Can you provide more context? As-is this issue is not actionable.

[2016-09-19 14:47] squaremo commented on #266
I think this is what people using Go will do anyway -- they may vendor new versions at release points, or just find the commit nearest master that compiles and works, and stick with it until it doesn't.

[2016-10-02 11:39] luxas commented on #209
This is working now when #241 is merged. Thanks!

[2016-10-02 11:39] #209 closed

[2016-10-03 00:53] rushmorem opened #300 "New IPAM plugin based on the IPGen Spec"
I've just [implemented] the [IPGen Spec] in `Go`. I would love to contribute and maintain an `ipam` plugin based on the new library. Would this be something you guys are interested in?

[implemented]: https://github.com/ipgen/go
[IPGen Spec]: https://github.com/ipgen/spec

[2016-10-03 06:00] rosenhouse commented on #300
Hi @rushmorem: That's an interesting idea for an `ipam` plugin.

One advantage of the CNI plugin model is that independent developers like yourself can build, distribute and use custom plugins without any changes to this repository or to the container runtimes that use it.

Perhaps you can start by building your CNI plugin & validating it for your use case.  Once you've got a repo with something f

[2016-10-03 06:00] #300 closed

[2016-10-03 09:33] rushmorem commented on #300
Thanks @rosenhouse. Let me do that.

[2016-10-08 00:29] asridharan opened #303 "How do we support static IP address allocation in CNI?"
Currently the spec does not allow orchestration engines to request allocation of a specific IP address from the plugins. Are there any thoughts/proposals to support static IP addresses in CNI?

[2016-10-08 16:32] squeed commented on #303
This would be up to the individual IPAM plugin.

Currently, the host-local plugin supports this through the ip=xxx CNI-arg. Check out https://github.com/containernetworking/cni/blob/master/Documentation/host-local.md

[2016-10-11 20:22] dcbw commented on #303
If the requested IP address is not available for allocation (because it's outside of the given Subnet or has already been allocated to another pod) then the ADD request will fail and the orchestration runtime will receive an error that it can handle appropriately.

@asridharan did these replies answer your question?  Anything else to clarify?

[2016-10-12 05:19] asridharan commented on #303
My problem is that the `host-local` plugin is an anecdotal evidence of how static IP addressing be achieved with CNI. There is nothing in the spec that suggests that if an IPAM supports static IP addressing the way to pass the static IP request is through the CNI_ARGS, with key being "ip" .

The reason I am emphasizing this not being part of the standard is that it container runtimes are agnostic

[2016-10-12 05:20] asridharan commented on #303
If ip=xxx CNI-arg is the way to go, then we should add it to the CNI spec.

[2016-10-12 07:47] bboreham commented on #303
I think I understand your preference for a spec change, but I'm struggling to understand what exactly is "hard".

Today, some plugins support that arg and some don't. If we add it to the spec, this situation will be exactly the same.

Perhaps you meant it is hard to discover the method.  That would be an argument to add it to the documentation - some list of args

[2016-10-12 14:58] asridharan commented on #303
Thanks for the clarification @bboreham . Yes, when I say its hard for the container run-time I meant to say its hard to discover the method through which we can make the request to the plugin for a static IP address. Standardizing the invocation would make it more deterministic for the container run time.

I am not concerned with discovering the capabilities of the plugin. That is the responsibili

[2016-10-13 03:43] chenchun opened #306 "flannel cni plugin issues"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
cni 0.3.0

**What happened**:
I was playing with cni flannel plugin, I changed flannel configure and restarted flannel on kubelet. Then I submitted a deployment, but the pods failed to start.

[code]

When I saw the first error event `Failed to setup network for pod \"hello-2093073260-lk3f2_default(9f0a4b8a-90f0-11e6-b54b-08

[2016-10-17 00:11] rosenhouse commented on #297
Closing this.  @huxos feel free to re-open if you are able to provide more context.

[2016-10-17 00:11] #297 closed

[2016-10-17 00:25] rosenhouse commented on #286
Fair question.  The current source of truth is:
- [ADD](https://github.com/containernetworking/cni/blob/3450f08611ade3104f05846caad6b59651c7c4d5/pkg/skel/skel_test.go#L122-L128)
- [DEL](https://github.com/containernetworking/cni/blob/3450f08611ade3104f05846caad6b59651c7c4d5/pkg/skel/skel_test.go#L209-L216).

On reviewing those, I noticed that the `CNI_CONTAINERID` env var had a typo, and just open

[2016-10-17 00:25] #286 closed

[2016-10-17 00:54] rosenhouse commented on #306
Good questions.  These issues cut across both CNI and flannel.  I'm not involved in development of flannel, so I can't speak with authority here.   Here's my take on your two questions:

- the cni bridge is created by the CNI plugins, specifically by the `bridge` plugin [which is called by the `flannel` plugin](https://github.com/containernetworking/cni/blob/3450f08611ade3104f05846caad6b59651c7c4d

[2016-10-17 00:57] rosenhouse opened #309 "Should plugin DEL ever error?"
Issue #306 raises an interesting question that applies generally to all plugins: how should runtimes react if an `ADD` fails?

One possibility is for `DEL` to be best-effort idempotent.  It tries to clean-up any & all left-over resources and swallows any errors that might arise if a resource was never created in the first-place.

Then we could recommend that a runtime call `DEL` after a failed `AD

[2016-10-17 21:15] skysec commented on #232
Hi!

Is the master network interface in promiscuous mode?  Set the interface in promiscuous mode (ip link set <interface> promisc on), and try again.

[2016-10-18 16:06] dcbw commented on #309
Note that skel.go needs to be changed here too, specifically:
[code]

Since we should still try to clean things up even when the netns has gone away.

[2016-10-18 16:07] bboreham commented on #309
We could have `CNI_NETNS==""` mean "clean up what you can, but there's no namespace so don't worry about that".

[2016-10-18 16:08] dcbw commented on #309
Though we could just do this now by making the internal plugins do best-effort cleanup, without changing the spec...  not sure if we'd consider that a material spec change or not.

[2016-10-18 16:25] bboreham commented on #309
The phrasing "tries to clean-up any & all left-over resources" - is that meant to mean "... relating to the specific container ID supplied", or more broadly, clean up anything that seems to be left-over?  The latter sounds dangerous.

I think I'm ok with best-efforts meaning "I looked for resources assigned to that container ID; didn't find anything; returning success"; I would still like to error

[2016-10-18 16:28] dcbw commented on #309
@bboreham yes, I would expect that the operation would still be scoped to the specific container ID.

[2016-10-20 18:24] skysec opened #310 "Question: [CNI Spec- IPAM] Why the default gateway is not used to create a default route?"
The CNI Spec defines a "default Gateway", however, it doesn't instruct the CNI pluging to add any routes, however, in a DHCP configuration or even in a manual network configuration, a default gateway is used to configure a default route (no need to add an extra route). This breaks current network implementation, where only a gateway (DHCP option 3) is passed as an option to DHCP clients. If a defa

[2016-10-21 01:10] leodotcloud commented on #252
@murat1985 Probably you can edit the[ README file](https://github.com/containernetworking/cni/blob/master/README.md) to include link to your CNI plugin repo and submit a PR. That way it's easier to get it reviewed and merged.

[2016-10-21 01:32] leodotcloud commented on #281
@dshulyak
Here are my 2 cents:
CNI plugin invocations are ephemeral. Once they are invoked with their input parameters, they do their job and return the information. They are short lived, which means the plugins rely on some sort of external database or micro service to handle the state and other meta information. If the information is external to the plugin, its logical to have query interface to

[2016-10-21 05:30] murat1985 commented on #252
thanks @leodotcloud sounds good

[2016-10-21 05:30] #252 closed

[2016-10-21 07:43] bboreham commented on #281
Most current implementations can fetch the IP address assigned to a container by entering the namespace and examining the `eth0` device. No database calls are required.

In my view It is reasonable to add GET to the API to allow for those implementations which do not support this pattern.

[2016-10-21 10:01] chenchun commented on #309
+1 of adding this as a spec requirement, and we could still keep the error return of `DEL`.
Make `DEL` return nothing means it can't complain any mistakes during cleanup.

[2016-10-25 20:09] leodotcloud commented on #285
Since it's not possible to always get the lowest MAC address to the bridge, a better solution would be to have an option to disable STP by default and leave an option to turn on for advanced users who know what they are up to by enabling STP. What do you think @freehan?

[2016-10-25 20:35] leodotcloud commented on #265
@Andrei-Pozolotin

The current CNI repo already has a `scripts` folder which shows a very simple implementation of a CNI plugin. Here: https://github.com/containernetworking/cni/blob/master/scripts/exec-plugins.sh

When I first started out on my path to implement a CNI plugin, these scripts were really helpful to play with and understand the CNI spec/API. Also looking at few other CNI plugins real

[2016-10-25 20:42] leodotcloud commented on #268
@Andrei-Pozolotin
Please see: https://github.com/containernetworking/cni/issues/265#issuecomment-256167719

As I mentioned there, it's up to the CNI plugin Author to customize. If you have a PR, please feel free to submit it, I am sure the maintainers would be more than happy to review and merge them. Otherwise, it's really not practical to address all possible requirements in the provided sample

[2016-10-25 20:55] leodotcloud commented on #303
@asridharan

As mentioned by others, you are free to customize the provided sample IPAM plugin implementation for your needs instead of a SPEC change.

Just to give you another example, here is our custom IPAM plugin: https://github.com/rancher/rancher-cni-ipam. Summary: The IPAM plugin talks to our internal metadata server to fetch the IP address to be assigned to the container and returns it bac

[2016-10-25 20:57] leodotcloud commented on #232
@yangzhares: If your question has been answered, could you please close the issue? Otherwise further discussions/comments/questions are really welcome.

[2016-10-25 21:10] leodotcloud commented on #122
@qianzhangxa If your question has been answered, could you please close the issue? Otherwise further discussions/comments/questions are really welcome.

[2016-10-25 23:30] #122 closed

[2016-10-27 01:27] asridharan commented on #303
@leodotcloud checkout the comment from @bboreham and my response to it. The issue is not the implementation of a static IP in a specific IPAM, the issue is for defining/standardizing the API to ask for a static IP. It could be through CNI args (as is done for host-local IPAM) or through the CNI config (add an explicit field for static IP, or define a behavior). Either one is fine. Bottomline this

[2016-10-31 10:31] rmohr opened #315 "RFE: Add macvtap plugin"
This is loosely related to #251. I am also interested in configuring tap like networks. But I am more interested in supplying them to applications inside a container. Going with macvtaps seems to be a nice way to integrate with CNI. Access to /dev/tap is not required and the handling is very similar to macvlans (individual access and visibility to its own macvtap devices per container). Further no

[2016-10-31 13:17] rmohr opened #317 "RFE: Central per-pod network configuration"
Hi,

I want to propose a meta plugin which, like the flannel meta plugin, stores its configuration in a central key/value store. Further, instead of just storing one config dictionary, it should be able to store an array of such dictionaries which would allow complex multi-device per-pod network configurations.

## Rationale
 * This would allow managing network per application instead of network p

[2016-11-02 01:34] TerraTech opened #320 "flannel plugin and hairpin mode"
Running on: CoreOS-1185.2.0 and quay.io/coreos/hyperkube:v1.4.3_coreos.0

For the kubelet:
[code]
I was looking at the docs at: https://github.com/containernetworking/cni/blob/master/Documentation/flannel.md

With the bridge config being generated, is it possible to enable _hairpin_ mode via some flannel plugin configuration setting?

/etc/kubernetes/cni/net.d/10-flannel.conf
[code]

I ran into a

[2016-11-02 04:56] TerraTech commented on #320
After noticing that 'isDefaultGateway' was a bridge command, it dawned on me that I might be able to configure this via flannel config's delegate stanza:
[code]
I updated the cloud config and rebooted the minion, created the test pod and the veth interface now has 'hairpin on'.

[2016-11-02 05:00] TerraTech commented on #320
Which leads to my next question, does anyone know if you can define in a kubernetes pod definition certain CNI configuration items perhaps through an annotation?  e.g. I'd like for only certain deployments/pods/etc to have hairpin enabled instead of it being global.

[2016-11-04 18:45] rosenhouse opened #323 "Fix or document issue for test failures when cni is a submodule"
This is to track the following issue:
When this repo is a submodule of another repo, and then you run `./test`, you'll see:
[code]

I'd like to either document this failure and how to avoid it, or better yet fix it, so that the tests run cleanly.

[2016-11-07 03:50] CaoShuFeng commented on #46
Hi, I am starting to fix this according to @caseydavenport  's suggestion:

Can someone assign this issue to me?

[2016-11-08 13:33] jbrzozowski commented on #245
@dcbw wanted to chime in here, not sure it is the right place.  I trust you will guide me otherwise if I should direct this post elsewhere.  I work for Comcast and run much of the company's IPv6 related efforts.  I was involved in some of our work to add support for IPv6 into OpenStack a while back.  Somethings that may need to be considered from our point of view as broad adopter of IPv6 are IPv6

[2016-11-09 01:34] Smithx10 opened #326 "it"

[2016-11-12 21:37] rkamudhan commented on #114
@steveeJ with single configuration file k8s_flannel.conf (for example -net=rkt.kubernetes.io), it is not possible to add Multiple interfaces, like eth0, eth1 to the pod ?

[2016-11-12 21:39] rkamudhan commented on #276
@asridharan I think, it is documented how to use ipvlan instead of bridge in the flannel using the delegate option.

[2016-11-14 16:25] #326 closed

[2016-11-16 01:37] asridharan commented on #276
@rkamudhan. Yup I think we can close this issue. There are enough examples here to explain how to use the delegate model.

[2016-11-16 01:37] #276 closed

[2016-11-16 18:13] rkamudhan opened #329 "DHCP plugin - "error calling DHCP.Allocate: no more tries" error"
I am running DHCP server in machine I and it is connected to machine II, and  I am running rkt with DHCP plugin in Machine II.

**In Machine II - console I**
I am running the dhcp daemon

[code]

When I try to run the rkt in the another console, I am getting the following error.

**In Machine II - console II**
[code]

Is I am doing anything wrong in running the DHCP plugin ?

[2016-11-17 11:34] bboreham commented on #262
This came up again today; I'm wondering if https://github.com/containernetworking/cni/tree/master/pkg/ns/README.md should be updated to explain that "All code dependent on a particular network namespace" really means "All code that uses networking or may call into a library that uses networking".

[2016-11-17 15:20] rosenhouse commented on #262
Sounds good to me.  PR?

[2016-11-19 21:37] gufranmmu opened #332 "CNI flannel not working with mesos"
I have got mesos-slave configured
[code]
my config file:
[code]
I can execute this:
[code]

ifconfig has this:

[code]

**Failed to Execute task with mesos:**
[code]

I also see this error:

[code]

[2016-11-20 23:38] rosenhouse commented on #332
This repo is for the development of the CNI specification and core plugins.  It appears you have a problem with mesos and/or flannel.

That said, your cni config says "flannel" but your mesos execute line refers to "calico".  And one place you have `mytempnet` and elsewhere you have `mynet`.

[2016-11-20 23:38] #332 closed

[2016-11-21 15:36] h0tbird commented on #332
@gufranmmu @rosenhouse I think I have the same underlying problem. I'll try to isolate it so we can blame the right component. Let me know if you fix it somehow.

[2016-11-21 16:03] h0tbird commented on #332
I think a fix in the flannel CNI core plugin would be adding the ability to set the `routes` in `ipam` via `delegate` like the sample below...

[code]

...which I tested and fails with the following message:

[code]

What do you think, should we re-open this task or file a new issue?

[2016-11-21 16:34] h0tbird opened #333 "Unable to delegate IPAM routes"
I would like to setup IPAM routes via `delegate` such as in:

[code]

The config above produces the error below:

[code]

@squeed suggested (via Slack) that we should merge, instead of blocking.

I guess my Mesos agent is not reachable via the flannel routes, but this needs to be confirmed.

[2016-11-21 16:34] h0tbird commented on #332
I have filed #333

[2016-11-22 11:52] squeed commented on #333
I don't see the use case for this. When we were first chatting in slack, it was not clear that you were simply trying to add the default route to the Flannel delegate, which is not necessary.

If you have a use case where you need to add a non-default route to the Flannel interface, can you add that and reopen this issue?

[2016-11-22 11:52] #333 closed

[2016-11-23 10:52] squeed opened #336 "macvlan / ipvlan: IPAM routes / gateway is ignored"
The `ptp` interface plugin installs the routes returned by the IPAM plugin. However, neither macvlan or ipvlan do this.

Is there a reason for this discrepancy? Or is it an oversight?

[2016-11-23 15:29] squeed commented on #336
This is the root cause for #310.

[2016-11-25 09:44] TerraTech opened #337 "CNI + flannel with multiple interfaces"
Running on: CoreOS-1185.2.0 and quay.io/coreos/hyperkube:v1.4.6_coreos.0
Container runtime is: rkt

I am not sure if this is a CNI or flannel issue, but I sure could use a second set of eyes to look at this.

I added a new minion (KVM based) and decided to add a 2nd interface (eth1) that taps into a new storage network.  I mostly wanted to drop the storage VLAN that was sitting on eth0 as adding i

[2016-11-29 15:50] jojimt opened #338 "State sync/Garbage collection for plugins"
It is possible for a plugin to restart independent of the run time (e.g. to recover from errors). Because the CNI does not provide a way for a plugin to sync its state upon restart, plugins are forced to resort to out-of-band mechanisms to catch up to any state updates that occurred during its down time. Apart from the restart, there could be other scenarios as well where the state could get out o

[2016-11-30 19:34] asridharan commented on #303
CNI maintainers, can we get a resolution on this? I am fine with specifying static addresses by setting `ip=<IP address` in CNI_ARGS, but would be great if we can make it part of the spec.

[2016-12-07 16:14] rkamudhan commented on #126
@steveeJ @tomdee This is issue is still prevail in Kubernetes > 1.4.0. I check it with Kubernetes version 1.3.6, it is working fine. Whether you guys experience same issue with Kubernetes > 1.4.0 ?

[2016-12-07 17:39] tomdee commented on #126
I thought this was fixed by kubernetes/kubernetes#24983

[2016-12-12 20:28] skysec commented on #336
Actually, the problem relies on the specification (SPEC.md): "gateway is the default gateway for this subnet, if one exists. It does not instruct the CNI plugin to add any routes with this gateway: routes to add are specified separately via the routes field. An example use of this value is for the CNI plugin to add this IP address to the linux-bridge to make it a gateway." This is the reason of #3

[2016-12-13 18:54] rkamudhan opened #343 "Multi-home pod support in CNI"
We developed a CNI called *[Multus](https://github.com/Intel-Corp/multus-cni)* to support Multi-homed pod in Kubernetes, which support multi interface in a pod and support different network in a single pod. Please see the use cases in https://github.com/kubernetes/kubernetes/issues/27398

[2016-12-13 21:52] rkamudhan commented on #114
Please check the issue #343  , we developed *[Multus CNI](https://github.com/Intel-Corp/multus-cni)*  for Multiple interface support in K8s https://github.com/kubernetes/kubernetes/issues/27398

[2016-12-16 02:15] rosenhouse commented on #343
Cool.  We'd welcome a PR to our README to add your plugin to our [list of 3rd party plugins](https://github.com/containernetworking/cni/blob/master/README.md#3rd-party-plugins).

Otherwise, I don't believe this issue is actionable.

[2016-12-16 10:26] rkamudhan commented on #343
@rosenhouse. Sure, I will create the PR for the 3rd party plugins.

[2016-12-18 09:15] bboreham commented on #320
@TerraTech that is not presently implemented.

Also it is a Kubernetes question so doesn't belong here in the CNI repo.  The closest I can see in the Kubernetes repo is https://github.com/kubernetes/kubernetes/issues/19766, but the conversation has snaked around a lot.

https://github.com/kubernetes/kubernetes/pull/29009 introduced code to use the feature for the `kubenet` network, but not for gen

[2016-12-20 13:31] rmohr commented on #317
Definitely something which better fits into a third party repo.

[2016-12-20 13:31] #317 closed

[2016-12-20 17:46] squeed commented on #336
You're right, I jumped the gun.

[2016-12-20 17:46] #336 closed

[2016-12-20 17:55] squeed commented on #329
This sort of error message (but not always) means you're running in to a local ulimit - either threads, fds, memory, etc. What are your ulimits?

[2016-12-20 18:06] mbruzek opened #347 "Support building CNI on different architectures."
I get a build error when trying to build the CNI binaries for different architectures.
[code]
The problem seems to be related to GOBIN being set. This works ok for building amd64 on amd64 but when trying to build the arm64 architecture from amd64 the build fails because GOBIN is set. Can we set something that would allow this to cross compile?

[2016-12-20 18:57] asridharan commented on #343
Just FYI, pods in Mesos already support multi-homing (being attached) to multiple CNI networks. Would be great if you could test `Multus` against Mesos. Just wondering as to why does the plugin need to be aware of multi-homing? In Mesos its the `Framework`/operator who tells the container to join multiple CNI networks, and the same CNI can be invoked with different CNI configs?

[2016-12-20 19:09] mbruzek commented on #347
I should point out we were using the v0.3 branch and specifically this line: https://github.com/containernetworking/cni/blob/v0.3/build#L13

I don't see GOBIN in the `build` file on master. I will re-test with master and report back.

[2016-12-21 10:51] rkamudhan commented on #343
@asridharan I will test Multus with Mesos. Currently, Kubernetes doesn't support multiple networks in the pod. Please refer the https://github.com/kubernetes/kubernetes/issues/27398 for the use case for the Multi-homed pod. Multus connect multiple CNI plugin net config to a pod.

[2016-12-29 12:24] prabhakar-pal commented on #245
Any idea when IPv6 support is targetted for CNI?

[2016-12-29 23:46] jieyu commented on #309
+1 on making this a spec requirement.

It's very hard for container runtime to react if cleanup fails. It has no idea if it should proceed with the rest of the cleanup or not.

[2016-12-30 10:03] cyphar commented on #347
Currently building (not through cross-compliation) on `aarch64` and `ppc64le` is broken:

* https://build.opensuse.org/package/live_build_log/home:cyphar:containers/cni/openSUSE_Tumbleweed/ppc64le
* https://build.opensuse.org/package/live_build_log/home:cyphar:containers/cni/openSUSE_Tumbleweed/aarch64

[2017-01-03 21:50] jeremytho commented on #329
I'm seeing the same issue (rkt 1.12).

`core file size          (blocks, -c) unlimited
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 31911
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m) unlimited
open files                      (-n) 1024
pipe siz

[2017-01-11 00:52] tomdee opened #349 "Release v0.4.0"
This issue tracks to the v0.4.0 release which will hopefully happen soon.

Please add a thumbs up emoji to this issue if a release is important to you.

The current list of PRs merged since v0.3.0
Testing
#345 travis: roll forward the versions of Go that we test
#314 plugins/noop: return a helpful message for test authors
#328 noop plugin: support multiple CNI_ARGS
#270 Add integration tests of li

[2017-01-11 14:48] bboreham commented on #46
Interesting: Mesos have implemented a port mapper plugin.
http://mesos.apache.org/documentation/latest/cni/#a-port-mapper-plugin
https://github.com/apache/mesos/tree/master/src/slave/containerizer/mesos/isolators/network/cni/plugins/port_mapper

[2017-01-12 22:58] tomdee opened #351 "Handling host port mappings with CNI (...or how are "arg" conventions documented)"
As a continuation from #46, I wanted to summarize the current position on handling host port mappings in CNI and call out the key questions.

We're close to having plugin chaining through #346 which should allow hostport mapping to be handled by a CNI plugin.

But we still need to decide how the port maps are passed to a plugin. I see three options here:
1. `CNI_ARGS` - The CNI_ARGS environment ca

[2017-01-12 23:07] tomdee commented on #351
FTR, the mesos plugin uses the following JSON in the args field.
[code]

[2017-01-13 00:17] freehan commented on #351
I prefer option 1. Port-forwarding is more runtime specific. Adding multiple containers to a network with/without port-forwarding should not require changes to the network config. In other words, the differences among containers should not affect network config.

Port-forwarding does not require very complicated json structure to represent. Something like this is probably good enough: `CNI_ARGS="P

[2017-01-13 01:49] thockin commented on #351
Putting it in network config implies that it is a property of the network, rather than of the instance.  I expect to find network config in a file or similar, and to be static for all containers on that network.  Of course,  the CNI caller (kubelet or the dockershim) COULD customize the network config by injecting per-instance stuff like this, but there's a clear precedent of CNI_* env vars carryi

[2017-01-13 02:34] tomdee commented on #351
@thockin @freehan it really isn't the case that network config is static and should be exactly what's on disk. I understand why you have this misconception but I really want to get it across to you that you shouldn't be using CNI_ARGS. The default mechanism for the runtimes to be passing per-innovation arguments to the plugins is through the args field. We maintainers have done a terrible job of c

[2017-01-13 03:28] lxpollitt commented on #351
I agree with @tomdee's point of view regarding CNI_ARGS is probably not the right thing to use.  One of the key motivations for adding the args field was to give a safe place for orchestrators to add additional arguments in preference to CNI_ARGS.  I'm not against spec'ing a new field meaning, but do think that CNI_ARGS isn't the right place to spec it.  Or at least that was my understanding of th

[2017-01-13 03:38] thockin commented on #351
So why do we have any of the environment variables, then?

On Jan 12, 2017 7:28 PM, "Alex Pollitt" <notifications@github.com> wrote:

[2017-01-13 04:04] lxpollitt commented on #351
Yes, indeed!  I believe there was a lot of discussion about that by the CNI maintainers at the time the args field was being considered.  I think the consensus view was it was a mistake to have spec'ed CNI_ARGS in hindsight and that it should be deprecated.

[2017-01-13 17:36] squeed commented on #351
From my perspective, how to pass arguments to CNI during `ADD` is not too critical. For example, we could easily add a utility function to `libcni` that mutates the static configuration stored on disk.

However, the big question is `DELETE` (and `STATUS`, if we implement it): are we now forcing runtimes to persist a configuration file per-interface? That does seem unnecessarily complicated.

Perha

[2017-01-13 17:51] tomdee commented on #351
@squeed good points, but that sounds like it could be an issue with the current spec so would be best tracked as a separate issue. Could you raise one?

[2017-01-13 21:58] freehan commented on #351
True. Even with STATUS, the runtimes still need to memorize what has been ADDed. Then we are talking about a LIST operation.

I think the easy way to do this is only require CNI_CONTAINERID for deletion. Then CNI could avoid having a LIST operation. Plugin only checkpoints necessary information for DEL, while CNI_CONTAINERID serve as the key.

[2017-01-17 00:28] s4z commented on #232
btw this worked for me (had the same issue)..

[2017-01-17 23:54] tomdee commented on #351
I just opened PR #352 to prompt discussion on how I thought these conventions could be documented.

[2017-01-19 03:56] freehan opened #353 "Should CNI plugins checkpoint information for DEL?"
Currently, CNI spec does not require plugins to checkpoint any information and many CNI plugins are stateless. Even if a CNI plugin is stateful, there is no CNI GET/STATUS or LIST operation to retrieve information. This implies that the caller (runtime) has to maintain states (netns, id, network configs) for clean up. However, not all information are needed for clean up.

A few options for CNI che

[2017-01-19 04:03] freehan commented on #353
@containernetworking/cni-maintainers

[2017-01-19 04:05] freehan commented on #353
@dcbw  @tomdee  @squeed

[2017-01-19 22:12] #349 closed

[2017-01-19 22:14] tomdee commented on #347
It's working fine using this script - https://github.com/containernetworking/cni/blob/master/scripts/release-with-rkt.sh

[2017-01-19 22:21] tomdee commented on #353
I like option 2, but what about CNI_NETNS, CNI_IFNAME and CNI_PATH? Is it really just CNI_ARGS that you're excluding? What about any "args" passed in through the network config JSON?

[2017-01-20 04:24] thockin commented on #353
If we're really looking at (2) why not go all the way and pass nothing but the ID?  What principle decides which information is passed vs what is not?

[2017-01-20 17:30] rosenhouse commented on #353
Out of curiosity, what is the pain that you're experiencing that leads to this question?

You mentioned "netns, id, network configs" as things the runtime has to track.  Which of these (or something else?) is burdensome to track?   If we follow @thockin's suggestion and only require ID, does that meaningfully ease the burden on the runtime, compared to the other data?

[2017-01-20 19:05] rosenhouse commented on #338
You're suggesting a very significant departure from the existing CNI model.

Can you describe your use case in more detail?  What sort of state would you imagine needs to be sync'd on what kinds of events?

[2017-01-20 19:06] #232 closed

[2017-01-20 22:22] freehan commented on #353
This has been brought up by CNI plugin and runtime writers in various places. Either CNI plugin need to be smart enough to maintain states(e.g. Calico), or runtimes have to do it (e.g. https://github.com/kubernetes/community/pull/255)

Parameters like netns requires the existence of container. If the container is stopped/deleted or runtime crashed, these information may be lost. Hence leaving dang

[2017-01-20 22:53] freehan commented on #353
Probably need "cniVersion", "name" and "type" from the network config plus ID at least.

Otherwise, libcni need to go thru all plugins.

[2017-01-23 00:01] ofiliz opened #354 "skel.PluginMain calls os.Exit instead of returning an error, preventing graceful shutdown"
CNI plugins that access state outside the immediate process (such as communicating with external processes, accessing shared resources, etc.) have to gracefully release those resources on exit. However, skel.PluginMain calls os.Exit directly on behalf of the plugin any time the ADD or DEL handler returns an error. This prevents the plugin from doing any graceful shutdown.

My understanding is the

[2017-01-23 00:59] rosenhouse commented on #354
@ofiliz  💯 👍   Thanks for bringing this up, really good point.  I've opened #355 to address this.  Your comments there would be appreciated.

[2017-01-23 01:23] rosenhouse commented on #353
So you're suggesting that the spec be updated so that the runtime only needs to provide the following to the plugin:

- CNI_CONTAINERID
- CNI_PATH
- `cniVersion`, `name` and `type` from the NetConfig

But if the runtime is bothering to track all of that, is it that much worse for the runtime to also track the rest of the environment variables and NetConfig?

If the concern is that the netns has di

[2017-01-23 01:34] ofiliz commented on #354
Thanks. I had coded a change as well, but wanted to confirm before submitting a PR.

[2017-01-23 01:59] rosenhouse commented on #343
This all looks good, nothing actionable here.

[2017-01-23 01:59] #343 closed

[2017-01-23 11:12] squeed commented on #353
I'm uncomfortable with making this part of the spec. I think a checkpointing feature as part of libcni makes more sense.

[2017-01-23 15:42] #354 closed

[2017-01-23 15:51] rosenhouse commented on #354
@ofiliz PR is merged, give it a whirl.

[2017-01-23 18:28] thockin commented on #353
If it is not part of the spec, then runtimes must do it.  All I want is a
clear statement of boundary.  To me, it feels cleaner overall for plugins
to own this, since they know best what they need, but I don't care *that*
much.  If we don't make it part of the spec, we should make it very clear
that runtimes must provide this info.

On Mon, Jan 23, 2017 at 3:12 AM, Casey Callendrello <
notificatio

[2017-01-23 19:34] freehan opened #356 "bridge plugin do not update MTU"
This is a bug report on a problem with bridge plugin. There is a MTU field in network config of bridge driver.
But if MTU is set to be bigger on the existing bridge, update will not be honored.

To reproduce:
For the same network,
- if MTU is set to be smaller, on the next ADD, bridge plugin will configure the bridge to be the latest MTU.
- if MTU is set to be bigger, bridge plugin will leave the

[2017-01-23 19:53] freehan commented on #356
The kernel bound the bridge mtu to the lowest mtu of its slave veths. Hence not able to increase it. Closing this one.

[2017-01-23 19:53] #356 closed

[2017-01-23 22:03] freehan commented on #353
@rosenhouse These are the most runtime relevant information. What container exsited? (CNI_CONTAINERID) What/Where CNI plugin was invoked? (name, type, cniVersion, CNI_PATH. These usually comes as part of runtime configs).

The rest is either CNI plugin specific or requires the existence of container (NetNS).

NETNS is not the only concern. As we push more stuff into network configs, it becomes mor

[2017-01-24 04:57] rosenhouse commented on #353
What if `libcni` provided two extra functions, e.g. something like

[code]

(the implementation could be a straightforward JSON marshaling of the data)

Then runtimes would be responsible for storing those `byte`s wherever they like, and deserializing before calling `DEL`.

Does that address the need?  Or am I missing something?

[2017-01-24 16:09] jojimt commented on #338
Yes, I do realize it is significant. This is the use case: The plugin is temporarily unavailable (e.g. recovering from a crash). Now, run time calls in with a DEL because a container is deleted. This call will naturally return an error. However, most run times in this scenario would ignore the error and proceed with the delete, leaving stale entries/resources in the plugin.

There are probably two

[2017-01-24 17:42] rosenhouse commented on #338
@jojimt I would propose option 1, but I wouldn't expect a "roll back" of a failed delete but instead I would expect that the runtime retry actual failed deletes.  This is consistent with the general principle that a client (runtime here) should retry when a service (plugin here) is temporarily unavailable.

This seems related to #309.  Perhaps plugins can return a special error code when indicatin

[2017-01-24 18:06] jojimt commented on #338
If the retry mechanism can be implemented, that would address this use case. It still leaves out the case where runtime itself restarts with pending retries. Would it be supposed to remember the partially deleted state?

[2017-01-24 21:36] rosenhouse commented on #338
We're veering away from CNI and into runtime design questions, but in short, yes.

I wouldn't call it "partially deleted state" though.  I would describe it as "containers that shouldn't exist, but the runtime hasn't yet confirmed their deletion."  The runtime should maintain a consistent on-disk store, which it updates only on successful creation or successful deletion of containers.  The runtime

[2017-01-24 23:25] ofiliz commented on #354
@rosenhouse Yes, works as expected.

[2017-01-27 21:52] freehan commented on #353
This introduce lots of overhead though. Many fields are duplicated across containers.

[2017-01-27 22:50] freehan commented on #351
To follow up on k8s-sig-network meeting:

There are 2 problems with putting port-forwarding as a plugin specific field.
1. If this field is stuck into a random CNI plugin that does not expect this field, the plugin may error out or just ignore it.
2. It implies that the caller has to know the detail capability of the plugin. This makes it NOT a "plugin".

A few options to solve this:
For problem 1

[2017-01-28 01:24] thockin commented on #351
Should we make a new issue or keep going here?

On Fri, Jan 27, 2017 at 2:50 PM, Minhan Xia <notifications@github.com>
wrote:

[2017-01-28 03:28] caseydavenport commented on #351
My understanding of the problem here (which may be flawed) is that there is
now a "standard" mechanism in the CNI specification for providing port
mappings to a CNI plugin, with a well-defined behavior that if the plugin
can't service the mappings then it can (and likely should) return an error
to the orchestrator.  This means that CNI has defined the mechanisms
necessary to avoid orchestrator spe

[2017-01-28 05:14] thockin commented on #351
I am not seeing at all how this is an orchestration problem.  This is
optional behavior which can hard-fail, but gives me no way of knowing
whether it WILL hard-fail without trying.  That is an atrocious API.

The only thing I can do about it is try each plugin in the chain with and
without these extra args and see what sticks.  Is that REALLY the
intention?  I have a hard time believing that.

I

[2017-01-28 23:37] ofiliz opened #357 "CNI on Windows"
Hello,

We are interested in making CNI work on Windows. The primary scenario of interest is to enable Kubernetes on Windows use CNI to configure networking for Windows Containers.

Please note that the goal is to make the CNI interface and framework (libcni), and NOT the individual network plugins (such as ipvlan), to work on Windows. Although Linux and Windows use similar concepts for container

[2017-01-28 23:39] ofiliz opened #358 "CNI uses the hard-coded ":" character as list separator"
Hardcoding the list separator character as ":" causes CNI to fail when parsing CNI_PATH on other operating systems. For example, Windows uses ";" as list separator because ":" can legally appear in paths such as "C:\path\to\file".

Without this PR, a CNI_PATH of value "\path\to\config; c:\another\path" would be incorrectly parsed as "\path\to\config; c" and "\another\path" on Windows.

I am sendin

[2017-01-28 23:49] ofiliz commented on #357
issue #358 PR #359

[2017-01-29 03:16] rosenhouse commented on #351
@thockin @freehan  I haven't been following the k8s side of this conversation, but I see your point.

A runtime should be able to express an intent for ports to be mapped a certain way, while remaining agnostic to which plugin actually implements that intent.

A runtime would also like to be able to return a meaningful error to the operator if the operator hasn't provided a plugin capable of imple

[2017-01-29 03:39] thockin commented on #351
That sort of probing is plausible, but feels heavy to me.  Can one rely on
the capabilities do not change between runs?  What f he user upgrades the
plugin live?  Do I have to cache mtime or inode and map that to
capabilities?  I guess that is possible.

On Jan 28, 2017 7:16 PM, "Gabe Rosenhouse" <notifications@github.com> wrote:

[2017-01-29 04:21] caseydavenport commented on #351
I don't think we necessarily need something as heavyweight as another CNI command or capabilities reporting.

I feel like we should be able to do something relatively simple within the framework of the current spec.

As a quick straw man, what if Kubernetes interprets a field in the args which indicates that it is meant to pass port mappings to this plugin. e.g

[code]

Any config which "requests"

[2017-01-29 04:45] thockin commented on #351
This feels really baroque - the user has to know whether the plugin
supports a feature - why not just ask the plugin?  Having an plugin probe
is pretty normal stuff for plugins.

On Sat, Jan 28, 2017 at 8:21 PM, Casey Davenport <notifications@github.com>
wrote:

[2017-01-30 03:27] lxpollitt commented on #351
I think I would like to better understand the requirements driving this discussion before joining with a technical opinion on the solution.

I think there are potentially roles of users being discussed:
1) The application deployer who uses the Kubernetes or Mesos APIs to deploy and manage their microservices  / applications.
2) The cluster deployer who is responsible for setting up and maintaining

[2017-01-30 04:22] ofiliz opened #360 "Differences in plugin executable names require maintaining a separate netconf file per OS"
Windows binary executables files end with the extension ".exe". Executables without this extension can not be loaded on Windows. Go os.exec package will not execute files without extensions.

A CNI network configuration file's "type" field specifies the plugin name to execute. The plugin name is also the actual filename searched by libcni in CNI_PATH. Hence the field would have to be set to, for e

[2017-01-30 18:32] lxpollitt commented on #351
@tomdee I think my guess of requirements for role 2 is missing consideration of the new CNI chaining by the runtime stuff that was very recently added?  Can you comment?

[2017-01-30 23:18] thockin commented on #351
Alex,  You're right on except the semantics of chaining, but that's a
relatively minor point to this conversation, I think.

But there's actually a third role - the orchestrator itself.  It wants to
look at some metadata to learn which plugins to call for each new
container.  The orchestrator must be able to know what features each plugin
supports, so it can know whether a plugin or chain of plugi

[2017-01-31 01:38] lxpollitt commented on #351
Got you!

I know you suggest it's a minor point, I'm wondering if it's the details of the chaining that are the key here.  I'm now thinking that was the bit I wasn't grokking.

In the old world where the orchestrator was just calling a single CNI plugin (and that CNI plugin might chain on to other plugins), then I was thinking the orchestrator could safely just add the host port field when a pod r

[2017-01-31 02:23] thockin commented on #351
I dislike the "its a lot of work, so let's do something awful" argument at
this layer (though we use that all the time in Kubernetes).  Whatever we
decide here sticks for a long time.

I'd rather add an optional "probe" call which can either fail (assume it is
a "standard" plugin) or succeed and return info about its capabilities.
Since port mapping plugins are all new, it/they can implement this

[2017-01-31 03:17] lxpollitt commented on #351
"so let's do something awful" - strong words!

Probing might get interesting if multiple plugins report supporting the same capability.  Possibly not a problem for host port (though could be), but my gut says at some point in the future we will want to pass more metadata in as part of the Network Configuration Lists as more capabilities are added to CNI.

Anyway, if the rest of what I said in my p

[2017-01-31 03:20] thockin commented on #351
On Mon, Jan 30, 2017 at 7:17 PM, Alex Pollitt <notifications@github.com> wrote:

Sorry :)  Was meant not so strongly

Yeah, I just need something so we can proceed.  I'll live with
whatever, but my preference is known

[2017-01-31 06:32] lxpollitt commented on #351
Like Tim, the main thing I want to see is getting this to the stage we can proceed.
@freehan perhaps you could give an indication of when this needs to be resolved to not put your development timeline in jeopardy?  I'm guessing pretty soon... This week? Next week? Yesterday?

[2017-01-31 18:25] squeed commented on #351
I'd like to challenge the assumption that the orchestrator cannot modify the runtime configuration file. Indeed, one of the specific motivating examples for this plugin chaining design was that orchestrators could layer additional plugins, e.g. firewalling or port mapping, without having to care about the specifics of the network being created. The `CNI_PATH` variable supports this - runtimes can

[2017-01-31 18:29] jojimt opened #362 "Netconf definition is missing Routes field"
Looking at the definition of Netconf(https://github.com/containernetworking/cni/blob/master/pkg/types/types.go#L59), I see that all fields specified by https://github.com/containernetworking/cni/blob/master/SPEC.md (Network Configuration) are included here, **except** the **IPAM.Routes** field. Is there a specific reason for omitting it?

ping @rosenhouse @dcbw

[2017-01-31 19:13] bboreham commented on #351
I'm pretty sure we have always wanted to allow for 3rd-party network plugins that are very different from the "norm". So in that case yes we would expect port forwarding to be provided by a 3rd party plugin.

[2017-01-31 21:15] freehan commented on #351
@lxpollitt This is not blocking 1.6 development for now. But we want to reach an agreement to solve the listed problems so that k8s can easily use single or chain of CNI plugins.

[2017-01-31 22:24] tomdee commented on #351
I think we're still not entirely in sync on what we're trying to achieve here and what the best design for it is. But let's try to resolve that!

@thockin, above you say:

I'm not sure I agree with this point, and I think @lxpollitt outlines why this shouldn't be optional in this role 1 description above - https://github.com/containernetworking/cni/issues/351#issuecomment-275973252

@thockin, also

[2017-01-31 22:30] thockin commented on #351
@squeed Kubernetes doesn't want to know what underlying network tech is in play, and as such it can not assume that iptables is a correct implementation.

[2017-01-31 22:40] thockin commented on #351
@tomdee

On a per-plugin basis, port-mapping is optional, obviously.  Not all plugins implement it.  We can argue about whether it is optional on a per-chain basis - ie should kubelet fail to start the pod if no plugin implements it or just log it and keep going.

No I mean, the software that is running and executing the plugins.  It wants to ingest metadata and comprehend the capabilities of the

[2017-02-01 10:47] philips commented on #337
This might be related to some of the fixes we did to the leases in flannel v0.7.0. Which version are you using?

cc @tomdee

[2017-02-01 11:22] philips opened #363 "chaining user story"
Sorry for not paying attention here for a long while. I saw that the [chaining stuff was merged](https://github.com/containernetworking/cni/pull/346) and I am wrapping my head around the design.

But, we need to provide a user story on how a user becomes unaware that chaining is happening to accomplish things like port forwarding. My understanding with the design of chaining is that the user won't

[2017-02-01 11:23] philips commented on #363
cc @thockin @squeed @dcbw

[2017-02-01 12:28] philips commented on #351
@squeed When is iptables not the solution for port forwarding? I see port forwarding as a local concern between CNI configured network namespace and host network namespace with little concern of the network namespace configuration.

I tried to make a concrete example of how chaining would work as proposed here: #363.

[2017-02-01 15:01] rosenhouse commented on #351
@philips One example for port forwarding without iptables is OpenVSwitch.  Another example might be eBPF.  We probably want the runtime to be agnostic about this choice of networking technology.

But even sticking with iptables, one plugin may wish to manage the rules itself -- for example if it already does other iptables-like things and wants to manage all the rules together.  But another plugin

[2017-02-01 17:00] thockin commented on #351
Iptables alone is insufficient (it captures traffic but does not prevent a
process from binding to that port and silently failing).  Iptables doesn't
work with some network topologies that do not traverse the root namespace
(and in fact HostPorts may not work at all in some forms of this).

On Feb 1, 2017 7:01 AM, "Gabe Rosenhouse" <notifications@github.com> wrote:

[2017-02-01 20:12] freehan commented on #351
I feel like the discussion is focusing on the capability probe solution. Have we rejected the idea to expand CNI response structure to include port-forwarding?  (option **c** in https://github.com/containernetworking/cni/issues/351#issuecomment-275796455)

The current CNI result includes sections for `interfaces`, `ips`, `routes` and `dns`. Why not add a `port_forwardings` section? As more feature

[2017-02-02 20:35] #358 closed

[2017-02-06 05:23] thockin commented on #363
What you describe sounds right.  The issue of how the user tells kubelet which plugin is handling portmapping is still open, but otherwise, yeah.  Someone somewhere crafts a config which is a set of plugins.

[2017-02-06 05:30] thockin commented on #351
Putting it in the return assumes that it is OK to get all the way to the
end and not have ANYONE handle mapping.  I now think that is not a valid
assumption.  I think either direct probe (exec plugin --probe, parse
result) or simply relying on the network config to say "port mapping goes
to this plugin" is viable.

On Wed, Feb 1, 2017 at 12:12 PM, Minhan Xia <notifications@github.com>
wrote:

[2017-02-07 21:49] tomdee opened #367 "using 'args' instead of 'CNI_ARGS' for IP field in IPAM config"
As per the conventions doc https://github.com/containernetworking/cni/blob/master/CONVENTIONS.md, IPAM plugins can be asked to use a specific IP address by using `IP=<ip>` in the `CNI_ARGS` environment variable.

Since using `CNI_ARGS` is deprecated, I suggest that we document that IP address preferences can be passed to IPAM plugins by using a field in args. This would allow for a list of IP addr

[2017-02-08 18:15] #360 closed

[2017-02-08 18:26] asridharan commented on #367
@tomdee 👍

[2017-02-09 20:26] danehans opened #370 "generate hwaddr (mac address) from an IPv6 address"
Currently, an IPv4 address is needed to generate a MAC address. The [GenerateHardwareAddr4 function](https://github.com/containernetworking/cni/blob/master/pkg/utils/hwaddr/hwaddr.go#L48-L49) should be updated or replicated to support IPv6 addresses for generating a  mac address of a container.

[2017-02-15 18:14] dcbw commented on #362
@jojimt this part of SPEC.md is actually in error.  The fields in the NetConf 'ipam' member are not specified, except the 'type' field which says which IPAM plugin to run.  The IPAM plugin itself handles any additional configuraiton inside the 'ipam' block of the NetConf.  The reference host-local plugin *does* accept a "Routes" field, which is probably where the confusion lies.

The spec should c

[2017-02-17 01:27] philips commented on #363
@squeed @tomdee With https://github.com/containernetworking/cni/pull/369 should we revert chaining?

[2017-02-17 15:30] squeed commented on #363
No, #369 still relies heavily on chaining.

[2017-02-17 17:30] philips commented on #363
@squeed can someone write a user story of how this whole thing works end to end then?

[2017-02-20 10:43] squeed commented on #362
For the specific case of setting static routes inside the container, this seems like a perfect opportunity for a plugin :-).

[2017-02-23 02:32] #362 closed

[2017-02-24 22:07] FlorianOtel opened #381 "Question / Feature req: Attach container to multiple networks / specify "network-name" on a per-interface basis"
Hello all,

Caveat: If this was discussed / addressed before, please point me to the respective thread.

I have the following question / issue:

Current SPEC (0.3.0):  When adding a container configuration the "ADD" operation must be given...

The text suggests there can be only one network the container can be attached to.

OTOH the `Result` data structure allows for multiple interfaces, with --

[2017-02-24 22:33] asridharan commented on #381
@FlorianOtel Mesos currently allows you to attach a container to multiple networks. We allow the user to specify a list of networks that the container should be attached to along with CNI config for each network, and Mesos goes ahead and invokes multiple ADD commands (one for each configuration) to attach the container each of the networks.
http://mesos.apache.org/documentation/latest/cni/#attachi

[2017-02-24 22:35] asridharan commented on #381
That said @FlorianOtel I do agree that there needs to be some clarification in the spec if an CNI plugin can attach multiple interfaces to the container though only a single interface was requested.

[2017-02-24 22:51] asridharan commented on #381
@FlorianOtel this PR is what introduced the change in the SPEC for returning multiple interfaces, and gives some idea of what these extra interfaces might be.
https://github.com/containernetworking/cni/pull/145

The extra interfaces are primarily the host interfaces that are created to pair with the container interface.

[2017-02-25 09:31] FlorianOtel commented on #381
@asridharan I read the comments on #145 and TBH I now have more questions than answers :)

( Adding @dcbw @tgraf  for any additional info)

With the clear risk of being late to the party (that thread is almost 6 mo old...):

- Side note: Why does the `Result` need to report back host-side interfaces ? And if so, which ones (is it up to the plugin to decide ?)

I was under the assumption that it re

[2017-02-25 12:01] TerraTech commented on #337
@philips sorry, I missed the email notice on this.  I'm running quay.io/coreos/flannel:v0.6.2